[2017-10-16 20:22] onbjerg opened #1 "Move handlers into own files"

[2017-10-16 20:22] onbjerg opened #2 "Create multiple reporters"

[2017-10-16 20:22] onbjerg opened #3 "Move APM-specific functions into own file"
All APM-specific functions should be moved to its own file(s). For inspiration, see: https://github.com/aragon/node-aragon/blob/master/src/apm/index.js

[2017-10-16 20:23] onbjerg opened #4 "Initial refactor"
The code is a bit messy, so we'll need to do some initial cleaning.

- [ ] #1: Move handlers into own files
- [ ] #2: Create multiple reporters
- [ ] #3: Abstract APM storage providers

[2017-10-16 20:26] onbjerg opened #5 "Implement run command"
To make the developer experience a bit less painful we'll add a `playground` command that will run a local module in an instance of the Aragon Desktop Dapp.

[2017-10-16 20:28] onbjerg opened #6 "Add documentation for configuration"
It is possible to specify per-project configuration in `package.json`, which makes it possible to avoid using flags when running commands, but this is currently undocumented.

**Example**

[code]

[2017-10-16 20:28] onbjerg opened #7 "Add config for RPC providers"
Right now there's an `--rpc` flag to set the Web3 provider, but the name is not good and it should be renamed. We should also have a flag and a config option to set the URL of the IPFS node.

[2017-10-16 20:29] onbjerg opened #8 "Better error handling"
Some errors are ugly, some are unhandled. For a good developer experience, we want to catch 'em all.

[2017-10-16 20:31] onbjerg opened #9 "Integration with Truffle"
Right now the workflow is one of:

- `truffle build`
- `truffle deploy`
- `aragon-dev-cli publish`
- Sign and broadcast transaction

It would be cool if we could do something like

- `truffle deploy`

which would build the application, deploy the contracts, generate the artifacts and publish the application to IPFS.

[2017-10-16 20:42] onbjerg opened #10 "Add scaffolding"
It should be possible to specify a template when running `aragon-dev-cli init` to scaffold a new module.

[2017-10-16 20:53] onbjerg opened #11 "Add badges"

[2017-10-16 20:54] onbjerg opened #12 "Make ignored files and folders configurable"
Right now `aragon-dev-cli` ignores `node_modules` and `.git`, but this should be configurable.

[2017-10-19 15:59] onbjerg opened #13 "Add tests"

[2017-10-19 15:59] onbjerg opened #14 "Set up CI"
Run linting, tests and generate coverage reports.

[2017-10-30 21:05] onbjerg opened #15 "Remove `--registry` flag and only accept fully qualified package name"

[2017-11-08 18:33] izqui opened #17 "Add command to setup dev environment with ENS and APM deployment"
Instead of working in a custom deploy flow for our own development environment for Aragon apps, we should generalize this at the `aragon-dev-cli` level to setup a complete environment.

[code]

Steps needed:

- Deploy an ENS instance a create the needed subnodes until `registryName` is owned by the sender.
- Deploy an APM instance with the rootnode for `registryName`. Call `apm.setResolver()`.

Th

[2017-11-08 18:58] izqui opened #18 "Default RPC and private key to development environment values"
When running any commands with no rpc node is provided as a flag and there is no HTTP server listening at port 8545, I think it would be a good idea to start a testrpc node in the background with a huge amount of ETH for a dummy private key `0x1111...`.

Using this with #17 would allow for easy development with almost no setup.

[2017-11-10 14:44] onbjerg commented on #18
I agree. I moved this to the backlog. I think we can include this in 1.0.0.

[2017-11-10 14:45] onbjerg commented on #17
I edited your comment to standardize the flag name (`--registry-name` as oppposed to `--registryName`).

[2017-11-13 11:17] luisivan opened #19 "Rename module with app"
Replace _module_ with _app_ everywhere

[2017-11-15 13:13] #10 closed

[2017-11-16 11:59] #19 closed

[2017-11-16 17:05] #15 closed

[2017-11-20 14:06] onbjerg opened #23 "Make it easy to switch between environments"
We have an issue right now where packages are named e.g. `foo.aragonpm.test`, but this makes it cumbersome to publish the package to the live APM repositories (e.g. `foo.aragonpm.eth`).

We should think about how we want to do this. One idea would be to only have `foo.aragonpm`, as it denotes the package name and the repository, but the TLD would be computed from the chain ID.

For example, for ma

[2017-11-20 14:06] onbjerg commented on #23
@izqui I know we talked a bit about this, but do you think this is a viable solution?

[2017-11-20 14:31] izqui commented on #23
We definitely need a way to support multiple environments.

I think just changing the TLD isn't enough, and we should allow to publish the same package to different registries even on the same chain.

We could have a json file where we keep track of different registries and networks (similar to a truffle.js config file). We could probably also store the ENS address there, as I discuss in the last

[2017-11-20 15:30] onbjerg commented on #23
In #22 I will add support for an `rc` (`.aragonrc`) file and also for adding configuration to `package.json`, so we could store it there.

[2017-11-30 18:27] onbjerg opened #24 "Implement bootstrap command"

[2017-11-30 18:28] onbjerg opened #25 "Add `.aragonrc` and config in `package.json`"

[2017-12-03 17:00] onbjerg commented on #24
Duplicate of #17

[2017-12-25 22:31] #1 closed

[2017-12-25 22:31] #2 closed

[2017-12-25 22:31] #3 closed

[2017-12-25 22:31] #4 closed

[2017-12-25 22:31] #11 closed

[2017-12-25 22:31] #12 closed

[2017-12-25 22:31] #13 closed

[2017-12-25 22:31] #14 closed

[2017-12-25 22:31] #18 closed

[2017-12-25 22:33] onbjerg commented on #7
Fixed with #22

[2017-12-25 22:33] #7 closed

[2017-12-25 22:36] onbjerg commented on #8
Somewhat fixed in #22. Hard to catch them all.

[2017-12-25 22:36] #8 closed

[2018-01-09 11:18] izqui opened #26 "publish: Add warning if aragon app solidity code initializes any global variable"
Because of our use of Proxies, child contracts won't initialize global variables when created. In case an app being published does this, we should at least warn the developer.

[code]

In the above example, when used behind a proxy, `initialState` will be 0, even though the expectation reading the code is that it will be 1.

We should encourage the developer to make it something like:

[code]

Edi

[2018-01-09 11:19] izqui commented on #26
This should also make it in the documentation

[2018-01-09 14:00] onbjerg commented on #26
Should be fairly simple to do with solidity-parser. Obviously constants are excluded as they're not written to storage.

For the docs I think an illustration would be helpful. Storage *is* initialized, but just not for the proxy, which is the storage we care about.

[2018-01-15 10:24] izqui commented on #17
New ENS and APM Factories should make this task way easier :) https://github.com/aragon/aragonOS/tree/dev/contracts/factory

[2018-01-15 10:28] izqui opened #27 "Use node-aragon to calculate forwarding path to interact with APM"
Now that both APM registries and repos are full Aragon apps, we need node-aragon to calculate different fwd paths for creating repos and new versions in them.

[2018-01-31 15:13] onbjerg opened #29 "Rename module.json to arapp.json"
https://github.com/aragon/aragon-apps/pull/79

[2018-01-31 15:14] status-open-bounty commented on #29
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1d82a92f3831f2d64f63beb9fad2d1ea0a8ed94ba8617181dd2b0905bf51b731](https://etherscan.io/tx/0x1d82a92f3831f2d64f63beb9fad2d1ea0a8ed94ba8617181dd2b0905bf51b731)

[2018-03-01 14:13] onbjerg opened #33 "Add compile command using solc"
From discussions with @izqui we should maybe add a `compile` command that compiles contracts instead of relying on Truffle.

[2018-03-01 14:13] onbjerg opened #34 "Support test runners"
From discussions with @izqui we should maybe add a `test` command that works with either ava or mocha, or both, instead of relying on people to install Truffle.

[2018-03-05 16:19] izqui opened #35 "Rename bin from `aragon-dev-cli` to just `aragon`"
In case we ever make a CLI client, that could be called `dao`

[code]

[2018-03-06 09:10] izqui opened #37 "`aragon init` should do initial `npm install` after cloning template"

[2018-03-07 17:44] #35 closed

[2018-03-12 12:26] onbjerg commented on #9
Going from discussions with @izqui, we might not want to integrate with truffle, but instead just depend directly on solc. The flow would be something like

[code]

or alternatively `publish` should also do `build` if `build` was not already run. For tests, we could have a test command. This would lower the barrier to entry, since no one would need to install truffle as well to work on Aragon apps

[2018-03-12 13:06] izqui commented on #9
I started working on the build tool already: https://github.com/aragon/pig

`aragon build` could do `pig` in the background and that's it :)

[2018-03-12 13:09] onbjerg commented on #9
ok

[2018-03-17 22:00] sohkai opened #43 "Solidity extractor has false positives on multiline function declarations"
Multi-line declarations like

[code]

Are treated as `public` by the regex.

Unfortunately the [antr4 grammar](https://github.com/solidityj/solidity-antlr4) doesn't support natspec yet, but maybe we should be looking at something more robust for this...

[2018-03-18 12:39] onbjerg opened #46 "Error out if any config is possibly misconfigured"
If we can't connect to the IPFS node, we should tell the user. Same for Ethereum node, etc.

[2018-03-18 12:48] onbjerg opened #47 "Providing a contract address makes the CLI hang for a few seconds"

[2018-03-18 12:51] onbjerg opened #48 "`aragon versions` hangs if artifact file is missing upstream"
Should just be marked as an invalid version

[2018-03-19 10:14] onbjerg commented on #43
We used to use a package Jorge made called `solidity-extractor`, but it was broken or something so we tried to simplify it with regex

[2018-03-19 13:28] #6 closed, assigned to onbjerg

[2018-03-19 13:31] onbjerg commented on #47
@izqui Can you elaborate on this one?

[2018-03-19 13:33] #25 closed

[2018-03-19 13:34] #24 closed

[2018-03-19 22:43] sohkai opened #50 "Publish should ignore more by default"
Nested `node_modules`: [this line] should contain something like `**/node_modules` instead (should probably be tested, not 100% of the globstar).

It'd also be real nice if it was the same as `.gitignore` or `.npmignore`.

[2018-03-19 22:49] sohkai opened #51 "Publish should log IPFS hash of uploaded folder"
Makes the publisher feel 100% more relieved!

[2018-03-25 20:55] onbjerg opened #54 "Improve keyfile format"
Ideally you would have one keyfile for all networks, so a format like this could be cool:

[code]

ENS config etc. should be kept in a separate configuration file that you can share among team members (or maybe even commit to GitHub) in a similar format.

[2018-03-28 12:17] sohkai opened #56 "Generated artifact.json does not include public constants"
Things like [`address constant public ETH = address(0)`](https://github.com/aragon/aragon-apps/blob/f9f7a6dd579a1521748c84e1af034ea891da06f9/apps/finance/contracts/Finance.sol#L18) are not included.

[2018-03-31 17:23] onbjerg opened #57 "Analyse contract storage layout"
Because of the way upgradeability works, changing the storage layout would break apps.

It is possible to analyse what the contract storage would look like for a contract, and perhaps make a diff between two versions of the same app - e.g. the storage layout for v1.0.0 of the contract and v2.0.0.

If they differ in a *breaking way* (i.e. a type is changed in a specific storage slot), then we shoul

[2018-04-13 09:04] #37 closed

[2018-04-13 09:17] #50 closed

[2018-04-30 15:12] #5 closed

[2018-05-03 12:37] onbjerg opened #60 "-h is broken"

[2018-05-03 12:38] onbjerg opened #61 "Run dapp when using `aragon run`"
1. Clone dapp at a specific tag to a temporary folder (if not done already)
2. Run the dapp with the correct settings

[2018-05-03 12:39] onbjerg opened #62 "Run build script during `aragon run`"

[2018-05-03 12:40] onbjerg opened #63 "Add `--skip-app` flag to `aragon run` to only deploy a DAO"

[2018-05-03 12:40] onbjerg opened #64 "Deploy default apps on `aragon run` if `--with-base-apps` is specified"

[2018-05-09 14:45] onbjerg commented on #60
Fixed on beta branch

[2018-05-09 14:45] #60 closed

[2018-05-09 14:45] onbjerg commented on #61
Fixed on beta branch

[2018-05-09 14:45] #61 closed

[2018-05-09 14:45] onbjerg commented on #62
Fixed on beta branch

[2018-05-09 14:45] #62 closed

[2018-05-09 16:57] chris-remus opened #68 "EPIC: Dev-CLI"

[2018-05-15 09:08] luisivan opened #70 "Remove js-sha3 dependency"
Other package already uses `sha3` instead of `js-sha3`, so we should remove the latter as a dependency

[2018-05-15 10:25] luisivan commented on #9
In the latest beta, `aragon contracts <args>` passes through the args to Truffle. It also compiles using Truffle in `aragon run`, so I'll close this for now (until maybe in the future we use pig, then we can open a new issue for that)

[2018-05-15 10:25] #9 closed

[2018-05-15 10:25] luisivan commented on #47
Closing since it lacks context

[2018-05-15 10:25] #47 closed

[2018-05-15 14:16] izqui opened #71 "Rename project to 'aragon-cli'"
As @Smokyish pointed out for consistency with other project names would be a good idea to rename.

Also this tool has been expanding a little bit in scope to the point it is not only useful to develop and publish Aragon apps, but to inspect and interact with DAOs from a CLI.

We will proceed with the rename in 36h if no objections are raised here.

[2018-05-15 15:28] luisivan commented on #71
I agree

[2018-05-15 22:42] sohkai commented on #71
All aboard.

[2018-05-16 14:34] luisivan commented on #68
Some stuff done during this epic:

[x] Explain what APM is, why you need ENS, etc. Point to doc link in the help of `aragon`
[x] Revert to Truffle commands when used with `aragon contracts` (compile, exec, console)
[x] Connect to existing chain if running
[x] Auto-init IPFS
[x] Auto-init Ganache
[x] No private keys handling
[x] Fill app name in arapp.json
[x] Fix "No front-end detected (no manifes

[2018-05-16 16:23] luisivan opened #72 "Reverts after first version is published"
Steps to reproduce:
[code]

[2018-05-16 16:41] izqui commented on #72
It reverts because you are upgrading a contract in a minor version, APM only allows doing so in major versions. Just tested it with `aragon version major` and it works as expected.

[2018-05-16 16:43] luisivan commented on #72
Throws for me as well when doing major

[2018-05-16 19:21] #72 closed

[2018-05-16 19:23] izqui opened #73 "Use latest aragonOS and apps"
Bump version in package.json after these two are solved:

- https://github.com/aragon/aragon-apps/issues/315
- https://github.com/aragon/aragen/issues/2

[2018-05-16 19:42] izqui opened #74 "'aragon run' -> 'aragon fly' 🦅"
@sohkai proposed this rename and I think it is amazing

[2018-05-16 19:42] izqui opened #75 "'aragon run' will fails silently if you're already using localhost:3000"

[2018-05-16 19:44] izqui opened #76 "'aragon init' app name issues"
- [ ] Should allow you to add a simple name and introduce the APM suffix `aragon init matos -> aragon init matos.aragonpm.eth react`
- [ ] Should really exit the process if there is an error and not keep going

[2018-05-16 19:49] izqui opened #77 "'aragon run' should 'ipfs init' if not initialized"

[2018-05-16 19:49] sohkai opened #78 "create-aragon-app should not be recursively looking up the path for a truffle.js"

[2018-05-16 19:49] sohkai opened #79 "aragon run -> aragon fly ;)"

[2018-05-16 19:49] sohkai commented on #79
Closing for #74

[2018-05-16 19:49] #79 closed

[2018-05-16 19:50] izqui opened #80 "'aragon devchain' should print instructions about how to connect to chain and import keys in Metamask"

[2018-05-16 19:50] sohkai opened #81 "React boilerplate not getting state updates"
The counter app does not seem to be getting state updates on increment / decrement despite transactions going through.

[2018-05-16 19:51] izqui opened #82 "If a existing JSON-RPC is found by 'aragon run' the networkId should be checked to see whether is a configured devchain"

[2018-05-16 19:52] izqui opened #83 "Implement 'aragon contracts deploy' to easily create a new instance of contract app"

[2018-05-16 19:53] izqui opened #84 "Improve error messages in 'aragon publish' when the user is publishing an incorrect version"

[2018-05-16 19:55] izqui opened #85 "'aragon dao': Improve table readability by allowing to filter columns"
and maybe have a flag to disable ascii-tables

[2018-05-16 19:55] izqui opened #86 "'aragon versions' last published version not showing"

[2018-05-16 19:58] izqui opened #87 "Allow for multiple entrypoints to the cli"
- Publish, version, versions and grant should be under `aragon apm [command]` for proper scoping.
- The CLI could install multiple entrypoints for better UX: `dao [command]` could be a shortcut to `aragon dao [command]` and `apm [command]` a shortcut for `aragon apm [command]`

[2018-05-16 22:00] sohkai commented on #74
Props to @derekalia!

[2018-05-16 22:24] sohkai opened #88 "Error for no development network should provide more help"
`Didn't find network development in your truffle.js` doesn't offer much help.

Maybe something like `aragon <command> requires a network 'development' in your truffle.js. For an example, see <truffle.js gist url>`.

[2018-05-17 04:11] #88 closed

[2018-05-17 04:18] luisivan commented on #80
In general the CLI expects a minimum knowledge about Ethereum, and changing that just in one place would be inconsistent. In this case, instead of printing a huge error message, I'd just point devs to a documentation URL in case they don't know what they're looking at. Opened an issue in the documentation repoo about it

[2018-05-17 04:33] #77 closed

[2018-05-17 05:26] #87 closed

[2018-05-17 08:45] izqui commented on #71
Repo renamed and removed `aragon-dev-cli` entrypoint https://github.com/aragon/aragon-cli/commit/2f509aa4208c90007f6ab55afbe685fc67ba2678

[2018-05-17 08:45] #71 closed

[2018-05-17 09:00] izqui opened #89 "APM and DAO entrypoints help shouldn't mention the root aragon tool"
When running `dao --help` it shows:

[code]

There should be no mention of `aragon dao` just `dao ...`

[2018-05-17 09:11] izqui opened #90 "Update readme"
Keyfiles are no longer used

[2018-05-17 16:26] #76 closed

[2018-05-18 08:16] izqui opened #93 "Add functional tests"
Given the increased complexity with new features, modifying a command can have side-effects in other commands that rely on it.

My proposal is that the initial test suite for the CLI should have a bunch of tests that interact with the CLI directly. Then each test case would pass if, it exits without an error and the side-effects of the command are what was expected (e.g. check the chain to see if

[2018-05-18 08:19] #83 closed

[2018-05-18 08:19] #84 closed

[2018-05-18 08:19] #86 closed

[2018-05-18 08:29] #75 closed

[2018-05-19 17:44] goodstemy opened #96 "Error after init"
I try to use `aragon-cli` and try to create and run basic app by following commands:
- `aragon init goodstemy`
- `cd goodstemy`
- `aragon run`

and getting an error in browser logs:

<img width="1440" alt="2018-05-19 19 43 13" src="https://user-images.githubusercontent.com/8494692/40271383-e54c8ed0-5b9c-11e8-8068-8cd58584dde4.png">

terminal logs:

<img width="696" alt="2018-05-19 19 42 57" src="h

[2018-05-21 05:04] sohkai opened #97 "aragon contracts test doesn't seem to be erroring or displaying test results properly"
Trying `aragon contracts test` on the current react boilerplate doesn't seem to work very well; it just says everything's fine when it should definitely be failing.

It also doesn't seem to be displaying the test output on proper runs (with the [react boilerplate's mock tests fixed](https://github.com/aragon/aragon-react-boilerplate/pull/7)).

[2018-05-21 07:01] izqui opened #98 "Create 'aragon start' command using wrapper's 'npm run start:dev'"
- [ ] Implement `aragon start [git-ref]`
- [ ] `aragon run` should use `aragon start` to start wrapper

See https://github.com/aragon/aragon/pull/241

[2018-05-21 12:38] #90 closed

[2018-05-21 12:48] izqui opened #99 "Use defaults from truffle.js for all CLI flags"
We are only really using the web3 provider from the truffle config, ideally we should be able to provide network defaults for every network.

Also let's fucking fix the weird apm-options configuration.

[2018-05-21 13:27] luisivan opened #100 "Support open.aragonpm.eth"
Right now we just support `aragonpm.eth`, we should support `open.aragonpm.eth` too

[2018-05-21 15:59] bingen commented on #81
I just realized that there's a problem with the web3 version used here `1.0.0-beta.21`: events were returned on `error` instead of on `data` here: https://github.com/aragon/aragon.js/blob/master/packages/aragon-wrapper/src/core/proxy/index.js#L29

This comes on `error` (there's nothing wrong, actually)
![screenshot from 2018-05-21 13-02-31](https://user-images.githubusercontent.com/701095/40316938

[2018-05-21 22:33] sohkai opened #102 "Peg aragon/aragon to a tag version"
Please please please let's not use https://github.com/aragon/aragon-cli/commit/9b7f464b47c13f2c3ded49f52c0e0bcc2d2bd768#diff-be2c73a0d34b5b1bdd559d1119717df5R163 ;)

[2018-05-21 22:35] sohkai commented on #81
Fixed in https://github.com/aragon/aragon-react-boilerplate/pull/8.

[2018-05-21 22:35] #81 closed

[2018-05-23 07:19] #102 closed

[2018-05-23 14:53] bingen opened #106 "TypeError: Cannot read property 'pop' of undefined at merkle-patricia-tree"
I'm having this problem when cli is trying to start a local chain:
[code]
I have seen this problem around, but haven't been able to fix it:
https://github.com/ethereumjs/merkle-patricia-tree/issues/12
https://github.com/dapphub/dapple/issues/337
https://gitter.im/ConsenSys/truffle?at=5901c500881b89e1018eadce
https://www.bountysource.com/issues/51180791-testrpc-crashes-after-a-while-with-cannot-rea

[2018-05-23 21:52] bingen opened #109 "Two browser tabs are opened on `aragon run`"
`run.js` [Open DAO](https://github.com/aragon/aragon-cli/blob/master/src/commands/run.js#L158) task list includes [Start Aragon client](https://github.com/aragon/aragon-cli/blob/master/src/commands/run.js#L192), which opens the generic app by calling `npm run start:local` in [aragon](https://github.com/aragon/aragon/blob/master/package.json#L74), and [Open wrapper](https://github.com/aragon/aragon

[2018-05-24 02:16] Quazia opened #110 "truffle.js vs truffle-config.js"
On Windows machines, it's often necessary to rename the truffle config file ``truffle-config.js`` so as to avoid confusion with truffle (the tool). There are [other solutions](http://truffleframework.com/docs/advanced/configuration#resolving-naming-conflicts-on-windows) but when going with the name change route the following is output:
[code]

I believe it is the following line that becomes proble

[2018-05-24 11:10] izqui commented on #110
#105 adds support for ‘truffle-config.js’ files :)

[2018-05-26 02:19] sethfork opened #114 "Rename 'apm' alias to 'aragonpm' and update tutorials and documentation"
I'd imagine this will be an issue for anyone who uses Atom
```$ npm i -g @aragon/cli```
[code]

[2018-05-26 03:33] sohkai commented on #114
Ouch... did not realize AtomPM was going to be installed as `apm` as well.

@izqui Maybe something we can do is rename the alias to `aragonpm`?

[2018-05-28 20:47] Quazia commented on #110
Silly me I should have known from that amazing PR description 👍

[2018-05-30 04:36] #109 closed

[2018-06-06 10:53] izqui commented on #110
LOL sorry @Quazia. Closed by #105

[2018-06-06 10:53] #110 closed

[2018-06-06 10:54] izqui commented on #100
Moved to https://github.com/aragon/aragen/issues/10

[2018-06-06 10:54] #100 closed

[2018-06-06 10:55] izqui commented on #96
Did you get it to work @goodstemy? Sometimes trying again seems to solve the issue.

Will proceed to close in a few days if there is no reply :)

[2018-06-06 11:22] izqui commented on #17
Irrelevant thanks to https://github.com/aragon/aragen

[2018-06-06 11:22] #17 closed

[2018-06-06 11:23] izqui commented on #48
Solved by https://github.com/aragon/apm.js/pull/11

[2018-06-06 11:23] #48 closed

[2018-06-06 11:24] izqui commented on #23
Using truffle networks in v4.0.0, making it easy for context switching

[2018-06-06 11:24] #23 closed

[2018-06-06 11:35] izqui opened #119 "arapp overrides per network"
At the moment, the `arapp` file is a unique representation of the app state which becomes a problem when someone is publishing an app to many networks. The main two problems are:

- `appId`: Which needs to be in a registry available in the network that the dev has permissions to publish to. It may vary depending on network and may change (going from `open.aragonpm.eth` to the main registry)

- `ve

[2018-06-06 11:36] izqui commented on #27
Moved to https://github.com/aragon/apm.js/issues/13

[2018-06-06 11:36] #27 closed

[2018-06-06 11:38] izqui commented on #34
See https://github.com/aragon/aragon-cli/issues/9#issuecomment-389119061

[2018-06-06 11:38] #34 closed

[2018-06-06 11:38] izqui commented on #33
See https://github.com/aragon/aragon-cli/issues/9#issuecomment-389119061

[2018-06-06 11:38] #33 closed

[2018-06-06 11:40] izqui commented on #43
@sohkai maybe we could create an issue to migrate away from our `solidity-extractor` and use a proper parser, though I'm worried about how we could support many solc versions with potentially different ASTs (the parsers may break)

[2018-06-06 11:54] izqui opened #120 "Refactor 'network' flag"
When passing a custom network different from the 'development' default, yargs will try to `coerce` the network for 'development' causing an error (it doesn't crash but logs an error).

We need to investigate why this is happening and fix it.

[2018-06-06 11:58] izqui opened #121 "Fix yargs complaining about lack of positional arguments with defaults"
Even when there are defaults for optional default arguments, yargs will complain that a required parameter hasn't been set.

This happens in `aragon apm publish` and `aragon apm version` when some flags are passed (like network)

[2018-06-06 12:01] sohkai commented on #43
Yes... we'd have to be strict about which cli versions support which solc versions. Ideally after 0.5 solc won't be including breaking changes in the AST.

[2018-06-06 12:07] sohkai commented on #119
AFAIK we include versions in the `package.json` so we can publish them onto npm, in case another package needs the contract interface or etc.

One is for publishing to npm, the `arapp.json` versions are for publishing to whichever APM instance you desire.

----------------

My thinking around this is that we'll need to extend the `arapp.json` format to allow for multiple networks and APM instances

[2018-06-06 12:08] izqui opened #122 "Support for transaction pathing for performing actions"
When sending transactions to apps from the CLI, some of them may require transaction pathing in order for the action to be eventually performed.

Given that aragon.js is already being used in for the `dao` commands, some logic could be reused.

[2018-06-06 12:11] izqui opened #123 "Implement performing calling app methods (read-only)"
Given that the `artifact.json` for the app can be fetched containing the ABI, we can determine whether we need to `call` or `sendTransaction`.

Now that we have `dao exec` for performing actions to contracts, it could also be extended to perform calls to read state from apps.

[2018-06-06 12:15] izqui opened #124 "Implement ACL writes in 'aragon dao'"
Should build on top of #122 but with a custom interface:

[code]

Also a command for checking a particular permission could be added (which should also print the manager, which isn't printed right now as aragon.js doesn't track them), as a special case for `dao acl`:

[code]

[2018-06-06 12:30] sohkai commented on #43
AFAIK this isn't fixed; the artifact.json in finance still has non-public functions being included due to the multi-line issue.

[2018-06-06 13:17] izqui opened #125 "Fix TaskList overwriting any console outputs during task execution"
Right now it is almost impossible to debug the CLI due to TaskList overwriting them. We should improve current tasks so they can log messages.

[2018-06-07 14:07] sohkai opened #127 "Generating artifacts could also save the source maps of the contract somewhere"
Useful for debugging; it could be included in the uploaded IPFS blob.

[2018-06-09 15:45] madvas opened #128 "Error when running aragon init"
When running aragon init I get following error:
[code]

Trying with aragon-cli version `4.1.1`

[2018-06-11 14:18] sohkai commented on #128
@madvas Ah... it might be related to web3 not being installable on yarn. Can you go into the directory `aragon init` created for you and do an `npm install` instead?

[2018-06-11 14:20] sohkai opened #129 "Don't use yarn for aragon init"
Web3.js has issues being installed by yarn (lol 🤦‍♂️). We should disable the yarn detection when installing modules.

[2018-06-11 18:49] madvas commented on #128
Thanks!, ok I did. npm install went through. Now when I run `aragon run` I get:

[code]

Am I missing something?

[2018-06-12 01:56] john-light opened #130 "Create CONTRIBUTING file"
Create CONTRIBUTING.md and contributor guidelines for this repo

[2018-06-12 06:34] andriytyurnikov opened #131 "Name clash with atom package manager"
Popular code editor Atom https://atom.io/ has plugin package manager `apm`
Please consider avoiding this conflict.
Popular idea - having one command with internal hierarchy like
`aragon package install`

[2018-06-12 11:00] sohkai opened #132 "Revert #126"
When we fix aragen so that it publishes kits to the local chain, make sure to revert #126.

[2018-06-12 11:01] sohkai commented on #128
@madvas No... 4.1.1 is just broken right now because of a missing IPFS file. Bear with us for a day or two so that we can cut a release with https://github.com/aragon/aragon-cli/pull/126 in it.

[2018-06-12 11:08] sohkai commented on #96
Closing due to no response :)

[2018-06-12 11:08] #96 closed

[2018-06-12 11:09] sohkai commented on #131
Duplicate of #114.

[2018-06-12 11:09] #131 closed

[2018-06-12 17:54] sohkai opened #133 "solidity-extractor is only run on the main contract file, not the entire inheritance tree"
See https://github.com/aragon/aragon.js/issues/118 for an example where this is a problem. Ideally we'd look through the entire inheritance tree for external methods to add to the artifact.json.

[2018-06-12 19:44] sohkai opened #134 "aragon init should remove the boilerplate's LICENSE file"
In the event we add LICENSE files to our boilerplates, e.g. https://github.com/aragon/aragon-bare-boilerplate/issues/5, we should probably remove them from the user's clone.

Thoughts @luisivan?

[2018-06-14 21:30] sohkai opened #135 "Add documentation to README about the new .ipfsignore file"

[2018-06-15 14:50] sohkai opened #136 "Add documentation for `aragon run --reset`"
Maybe in a small FAQ / Troubleshooting section at the end that we point to.

`aragon run --reset` solves a lot of weird problems for people.

[2018-06-15 14:53] izqui opened #137 "Reset devchain after updating the cli"
Given that updates to the cli can bring new kits or apps, the devchain should be restarted when we detect that the version has changed.

Quick way to do it is to append the cli version to the snapshot directory, which will also allow to go back to a previous snapshot when downgrading.

If we want to do a proper wipe every time, we could save a file in the `~/.aragon` directory (`~/.aragon/version`

[2018-06-18 22:22] izqui opened #138 "Fix `apm publish X` always publishing contract in arapp.json rather than X"

[2018-06-19 04:17] topocount opened #139 "Client doesn't re-download if initial download attempt times out"
When running `npm run start:kit` in an app under development for the first time, and the wrapper files and/or dependencies fail to download (due to timeout in my case), the missing files won't download (and thus the build will fail) unless the ~/.aragon/wrapper-xxxxxxx directory and its contents are deleted.

It might be good to incorporate a checksum (or whatever is standard practice) to ensure t

[2018-06-19 06:54] izqui commented on #139
Thanks for reporting this, glad you figured out how to fix it!

I think checksumming all the dependencies is going to be a source of false positives, given the randomness usually involved with NPM. I think the best way forward is to try to catch this error from the CLI and let users know how they can fix or delete `~/.aragon/wrapper-xxxx` and tell the user to try again (however this wouldn't allow

[2018-06-20 07:20] izqui opened #142 "`aragon --version` and `aragon --help` shouldn't show an error when not run inside an aragon app project"
[code]
It should just print `4.1.2` without the error.

[2018-06-20 10:37] izqui opened #143 "Attempt to fetch current version artifact.json instead of generating it when publishing only content"
Instead of generating the artifact again for upgrades that don't change the smart contract code, the CLI should try to fetch the artifact for the current version instead of generating it and publish it.

The version in the artifact file has to be modified to the actual version being published.

[2018-06-21 22:01] jtremback opened #146 "Error `Cannot find module 'web3-requestManager'` when doing `aragon run`"
This was after doing

[code]

[code]

[2018-06-21 23:01] jtremback commented on #146
I fixed this by doing `npm i @aragon/client` to install it to the folder I was working in, and then using `yarn start` to run it.

[2018-06-21 23:02] jtremback opened #147 "Illegal char error when using illegal ENS chars in app name during aragon init"
Getting this after running `yarn start` in a project bootstrapped with `aragon init`

[code]

[2018-06-21 23:04] jtremback commented on #147
I'm guessing this is because of the underscore in the app name. Might be good to catch that in `aragon init`. I'm currently trying with `aragon init MyAppName34.aragonpm.eth` to see if that works.

[2018-06-21 23:20] jtremback opened #148 "`aragon run` hangs on `sync-assets` command running `> mkdir -p dist; rsync -rtu "$(dirname $(node -p 'requir…`"
[code]

[2018-06-21 23:21] jtremback commented on #148
I have no idea what the many `✔ Start a local Ethereum network`'s are about, but I saw this error without them as well.

[2018-06-21 23:38] jtremback commented on #148
fixed this by running `npm install @aragon/ui` and `rsync -rtu "$(dirname $(node -p 'require.resolve("@aragon/ui")'))" dist/aragon-ui` before trying `npm start` again

[2018-06-21 23:49] jtremback commented on #146
This is probably due to me not running `npm install` before `aragon run`.

[2018-06-21 23:49] #146 closed

[2018-06-21 23:49] jtremback commented on #148
This is probably due to me not running `npm install` before `aragon run`.

[2018-06-22 07:11] luisivan commented on #148
This is interesting, because it seems like we are npm installing while doing `aragon init` as per https://github.com/aragon/aragon-cli/blob/master/src/commands/init.js#L83. @izqui @sohkai can you do a quick sanity check to verify what's going on?

[2018-06-22 07:11] luisivan commented on #146
Doing sanity check on this too at https://github.com/aragon/aragon-cli/issues/148#issuecomment-399344547

[2018-06-22 07:48] izqui commented on #148
@jtremback did `aragon init`give you any error? As @luisivan said, `aragon init` runs `npm install`, but I suspect something must have timed out or failed, causing some dependencies to not be correctly installed.

I just tried the exact steps pointed in both issues and I cannot reproduce the issue

[2018-06-22 20:34] jtremback commented on #148
As far as I can tell, running `npm install` stops this issue from happening

[2018-06-22 21:45] jtremback commented on #148
This issue does not happen at all on a Linux computer.

[2018-06-22 21:46] jtremback opened #149 "Caching issues"
I initialize an aragon app with

[code]
The app opens up correctly. I go into `app/App.js` and change the label on the "Decrement" to "Lower". Refresh the app to see if it has hot reloading or something. Nope, but that's OK. There aren't really any instructions on how to do a partial rebuild of just the frontend, so I shut down and restart `aragon run`. No change on the frontend. Looking at `packa

[2018-06-22 21:58] jtremback commented on #149
Trying to find a workable solution before this issue gets answered, I change the `build` script in `package.json` to `"rm ./.cache/* && npm run compile && npm run sync-assets && npm run build:app && npm run build:script"`. Then, while `aragon run` is still running, I run `yarn run build` in another terminal. Frontend still doesn't change.

Deciding to try the nuclear option, I change the `start` s

[2018-06-25 23:29] jtremback opened #150 "IMO needs more documentation on what aragon run does"
I assume that it runs `npm run build` or something like that, but this is not documented anywhere I have found.

[2018-06-26 00:05] jtremback opened #151 "It would be nice if there was a way to allow accessing apps from local server"
To allow for build tools that watch files and rebuild assets, instead of waiting many seconds for `aragon run` on each change.

[2018-06-26 00:06] jtremback commented on #151
Right now it's kind of all related to ipfs, and i'm not sure how to change only the frontend without a full rebuild

[2018-06-26 00:18] jtremback commented on #149
Upgrading parcel to 1.9.3 seems to solve this issue

[2018-06-27 00:28] jtremback opened #152 "Verbose mode"
Is there a verbose mode? I don't see it documented. It would be really helpful to see the logs of all the things that Aragon calls.

[2018-06-27 00:31] jtremback opened #153 "Hanging on contract compile"
Aragon has started hanging while trying to compile contracts. Oddly, I have not touched the contracts at all yet.

`aragon run` outputs
[code]
`aragon contract compile` outputs

[code]

[2018-06-27 00:32] #148 closed

[2018-06-27 00:32] jtremback commented on #149
I'm closing this in favor of https://github.com/aragon/aragon-react-boilerplate/issues/15

[2018-06-27 00:32] #149 closed

[2018-06-27 03:06] jtremback commented on #153
This goes away when init'ing a new folder

[2018-06-27 03:14] jtremback commented on #153
Here is the repo that has this issue: https://github.com/althea-mesh/aragon-node-list

[2018-06-27 10:46] sohkai opened #154 "Add deployment file when deploying new contracts"
Having a deterministic deployment file allows deployers to publish and verify their code on web platforms, e.g. Etherscan.

Requires at least:

- Concatenated contract code with all the inherited dependencies and interfaces
- Compiler version
- Compiler flags

[2018-06-27 21:20] sohkai commented on #149
@jtremback thanks for looking into this; I haven't had time to update the parcel requirements of all of our repos that rely on it. 1.9.x was a huge improvement in terms of their file watcher and hot reloading strategy.

[2018-06-27 21:23] sohkai commented on #148
Weird, maybe you might have a weird version of `rsync` installed?

In any case, the `rsync` script we used is now deprecated in the latest versions of aragon-ui and replaced by a fully portable version to copy assets so this shouldn't happen once the dependencies are upgraded.

[2018-06-29 05:30] izqui commented on #153
Does this still hang if you run the command with truffle directly with `npx truffle compile`?

I have gotten some random hangs compiling with truffle in the past in some projects and I was never able to get to the root of the issue, but removing the truffle artifacts directory (`./build`) before compiling makes the issue go away.

[2018-06-29 05:33] izqui commented on #152
I agree this would be nice to have. If you run it in debug mode (`DEBUG=true aragon x`) some extra logging is done already, but we could log more info.

[2018-07-05 17:07] luisivan commented on #150
Absolutely agree

[2018-07-06 22:53] jtremback commented on #151
How would this be done?

[2018-07-07 00:01] jtremback commented on #153
Yea, so just some details- the ./build directory had already been removed and it was hanging. Running `npx truffle compile` actually fixed it, so thanks. Not sure if this should be closed or not. Seems like it's still an issue.

[2018-07-07 03:52] Quazia commented on #153
Yeah until we know what's causing the issue it's going to be hard to fix. I'll try with that repo and if I can get the behavior to repeat we'll keep the issue open. Otherwise, I think it's going to be too hard to pinpoint what's causing it.

[2018-07-07 23:39] jtremback commented on #153
Yea, definitely. I will try to get more logs if it comes up again.

[2018-07-09 13:31] izqui commented on #114
As we discussed offline and proposed by @sohkai above, the `apm` alias needs to be renamed to `aragonpm` to avoid clashing with the Atom Package Manager CLI tool.

[2018-07-09 13:59] izqui commented on #151
@jtremback A flag needs to be added to both `aragon run` and `aragon apm publish` to pass the URL where the app is served (`--http localhost:1234`). If this flag is present, the 'IPFS check' step in `apm publish` can then be disabled. We shouldn't disable it in `aragon run` as other apps hosted in IPFS could be required when running the app with a kit (e.g. interacting with the default voting app

[2018-07-09 14:14] Quazia commented on #114
Would arapm be an option?

[2018-07-09 14:19] izqui commented on #114
While I really like `arapm`, we decided on `aragonpm` for consistency with `aragonpm.eth` and aragonpm.com. A closer proposal in terms of support was to simply drop the alias and have it only accessible at `aragon apm` as it currently is.

[2018-07-09 15:02] luisivan commented on #114
I think just dropping the alias is a good idea. `dao` is a great alias anyway.

[2018-07-10 00:59] jtremback opened #156 "Metamask nonce issue"
I was running into this issue: https://github.com/MetaMask/metamask-extension/issues/1999

I fixed it with this janky hack: https://github.com/aragon/aragon-cli/pull/155/commits/e2509c221ede7596b2f911d7dac9ca623d897585

Is there a better long term solution?

[2018-07-10 10:30] izqui commented on #156
I was missing this context when reviewing #155 and I think my addition to it setting the network id to 15 won't be fixing your problem. This commit should be reverted https://github.com/aragon/aragon-cli/commit/f7c25c15b8ce2ad0bb52425dedd810ff0aeb00d6

Trying to think about the implications of starting with a different network_id every time. I assume that you started noticing the issue after doing

[2018-07-11 05:39] jtremback commented on #156
Yea, what I actually do is run devchain on my modified aragon-cli, and leave it up for a while. This works for a long time. When the nonce issue shows up, I restart devchain and it goes away for another long time.

[2018-07-11 05:40] jtremback commented on #156
Also, maybe just restarting devchain was enough and I'm fooling myself into thinking it needed more.

[2018-07-11 07:52] izqui commented on #156
Are you running `aragon devchain` directly rather than it being started by `aragon run` every time you execute it?

If that's the case, I think I know what the root of issue may be:
- `aragon devchain` starts the network with a random network id (the timestamp).
- `aragon run` performs some transactions incrementing the nonce of the main account
- Using the app with metamask caches the nonce when

[2018-07-11 12:16] #64 closed

[2018-07-11 14:59] izqui commented on #57
Interesting issue to follow for this https://github.com/ethereum/solidity/pull/4017. The zeppelin team did a PR to make the compiler output information about the storage slots of a contract

[2018-07-17 20:21] izqui opened #158 "Update APMRepo create version role hash"
When doing `aragon apm grant 0xab` for giving the `CREATE_VERSION_ROLE` to `0xab`, it will do it for the role hash `0x00...01` which was used in the previous versions of aragonOS.

The current correct role hash is `keccak256('CREATE_VERSION_ROLE')`.

For this not to be a backwards incompatible change (there are instances of APM with this role hash deployed on rinkeby), we should add a flag that al

[2018-07-18 08:41] sohkai opened #159 "apm publish should sanity check if an artifact.json and manifest.json exist in the publishing directory"
Ideally it would warn the user and ask if they want to continue.

[2018-07-30 10:48] sohkai opened #160 "aragon run should warn if an existing ganache-cli is running (or not set up correctly)"
Reusing an existing ganache-cli can cause problems if that local chain hasn't been set up correctly (e.g. with ENS, APM, etc.).

See https://github.com/aragon/aragon-react-boilerplate/issues/11#issuecomment-408298118 as an example.

[2018-08-06 10:33] PascalPrecht commented on #142
Hi @izqui

I just took a quick look at this one. So at the moment, this happens always when aragon cli is executed outside an aragon project.

The reason this fails is because of `getTruffleConfig()` inside the `network` option's `coerce()` function, which gets executed synchronously by `yargs` when it bootstraps:

https://github.com/aragon/aragon-cli/blob/d14a980030494388afaf2661a790c309afc06fb6/

[2018-08-06 17:36] izqui commented on #142
Hey @PascalPrecht! Thanks for taking a look at it and detailing your thought process.

I think this issue will be solved with #145, as it was caused by a stupid typo `>= 'version'` should have been `>= 0` 😅  https://github.com/aragon/aragon-cli/pull/145/files#diff-d9d9214113dea1c364abd4ba3c70be11R70

[2018-08-06 17:40] PascalPrecht commented on #142
No kidding!

I was honestly wondering what that was about but thought it couldn't be it
cause.. waaay too obvious right?

Ha. Too funny. Thanks for the feedback!

On Mon, Aug 6, 2018, 7:37 PM Jorge Izquierdo <notifications@github.com>
wrote:

[2018-08-06 18:02] #129 closed

[2018-08-07 08:20] PascalPrecht commented on #128
It's still unclear to me why web3 has problems being installed via yarn (@sohkai maybe you have some pointers/links/resources?) but this commit should prevent aragon cli from using yarn in the first place (for now): https://github.com/aragon/aragon-cli/commit/5c0fde0159484cc0e9f6a9a5eeb80feec5d9d857

I think this issue can be closed then (once @madvas confirmed 4.1.2 is working)?

[2018-08-07 09:01] izqui commented on #128
Yep, thanks for surfacing it @PascalPrecht.

Fixed in https://github.com/aragon/aragon-cli/releases/tag/v4.1.2

[2018-08-07 09:01] #128 closed

[2018-08-07 14:40] PascalPrecht opened #163 "Improve UX of init command when project folder already exists"
When running the `init` command with a project name that happens to be used by another folder in the current working directory, aragon CLI errors out in a user unfriendly fashion:

[code]

Since there's already a folder `machinelabs` (which also happens to be a git repo), `init` fails but it's not very obvious at this point, why it fails.

I guess it'd be better if CLI would check whether the proj

[2018-08-07 14:45] PascalPrecht commented on #163
Happy to provide a PR to iterate over if maintainers agree :)

[2018-08-07 15:29] luisivan commented on #163
Great catch @PascalPrecht. A PR would be more than welcome :)

[2018-08-07 15:37] izqui commented on #163
I think providing a meaningful error message is the way to go, and then let the user decide whether they want to delete the directory on their own or try again with another app name.

[2018-08-08 03:10] jtremback commented on #151
Hey is this officially working and documented?

Also, @sebohe is taking over on our Aragon integration from me

[2018-08-08 09:36] PascalPrecht commented on #93
I looked into this and I think it'd make sense to decouple the command tasks from the actual command implementations.

For example, if we'd wanna write a test for `aragon init`, it comes with the side effect that a template repo is being cloned and npm dependencies are being installed. This can slow down the testing experience, so I think it'd be nice if we could test the tasks in an isolated fash

[2018-08-08 15:13] izqui commented on #151
Yes, we just need to add support for it in the CLI

[2018-08-08 15:26] izqui commented on #93
Do you mean the individual tasks or the command tasks? Most of the commands export their `TaskList` at `command.task`, so they can already be tested without testing the CLI itself.

It would be great to see how what you have in mind would look like, just an example of how a small command would change to allow this would be great

[2018-08-08 15:45] PascalPrecht commented on #93
Exactly. Even that however would mean, one either tests the whole task list as a whole or nothing, unless one can access specific tasks from that list (not super familiar with the TaskList API yet).

So in my head a command could look like this:

[code]

`someTaskFunction` would be defined somewhere (probably imported). That way `someTaskFunction` can be tested without even knowing its part of a C

[2018-08-08 15:45] #163 closed

[2018-08-08 18:01] izqui opened #166 "Consider updating yargs to 12.0.0"
From @sohkai: it looks like 12.0.0 has a lot of fixes (can't tell if they're relevant to the coercing bug though).

[2018-08-08 18:52] izqui opened #167 "`apm versions` shouldn't fail if one of the repo version's contentURI is invalid"
Currently if one of the published versions in a repo had a badly formatted content URI, doing `aragon apm versions` for the repo results in:

[code]

The CLI should show the versions that have a correct format as usual, and print a warning sign and the contentURI string for the ones that have an invalid format.

This will require making changes in https://github.com/aragon/apm.js as well, so it do

[2018-08-10 00:55] sohkai commented on #128
@PascalPrecht see https://github.com/ethereum/web3.js/issues/1070 for some bug reports on web3.js and yarn. Looks like it might be solved with newer yarn versions (maybe they moved to use the same module resolution algorithm as npm?), but probably still good to disable until web3.js is in a more maintained state.

[2018-08-10 01:05] sohkai commented on #93
I'm definitely a fan of how [pando's structured their cli code](https://github.com/ryhope/pando/tree/master/packages/cli/src/commands), that sounds similar to what you're suggesting @PascalPrecht.

[2018-08-10 01:08] sohkai commented on #167
Directly dependent on https://github.com/aragon/apm.js/issues/20.

[2018-08-10 07:42] PascalPrecht commented on #93
Yes, that's kind of what I had in mind. Thing is just that `handler` right now is mostly composed of a `TaskList`, so just having the handler function separated won't be enough, as we'd still end up having all of the tasks in there.

I'll give it more thought.

[2018-08-10 09:11] PascalPrecht commented on #93
Here's a WIP POC, just to get out the idea: https://github.com/aragon/aragon-cli/pull/168

[2018-08-10 12:06] izqui commented on #156
@jtremback I investigated the issue a bit more, and I think it is now solved. I brought back your idea of randomizing the network id every time the chain is started (I didn't detect any side effects). Sometimes Metamask is still stuck even if the networkID changes, but switching to another network and then switching back seems to resolve it in all cases.

[2018-08-10 17:44] #121 closed

[2018-08-10 17:44] #138 closed

[2018-08-10 17:44] #142 closed

[2018-08-13 09:54] #156 closed

[2018-08-13 16:37] izqui commented on #120
Closed by #145

[2018-08-13 16:37] #120 closed

[2018-08-15 08:28] sohkai opened #172 "Document the ~/.aragon directory and how aragon/aragon is installed"
See https://github.com/aragon/aragon/issues/321; we could document how we use `~/.aragon` and what users should, and should not, do with it.

[2018-08-15 15:13] luisivan opened #173 "README missing in NPM"
Check https://www.npmjs.com/package/@aragon/cli. Maybe could be fix by just re-publishing the package?

[2018-08-15 15:40] sohkai commented on #167
<img width="774" alt="screen shot 2018-08-15 at 5 40 01 pm" src="https://user-images.githubusercontent.com/4166642/44157235-46f6c380-a0b2-11e8-8799-e37e0d4c8d4a.png">

[2018-08-20 16:12] Bloesum opened #177 "ENS name not defined?"
Hi all,

I tried to create my own app with aragon-cli (4.1.5)  but when I 'aragon run' I keep getting the error 'ENS name not defined'. Am I missing something?

 ✔ Start a local Ethereum network
 ✔ Check IPFS
 ❯ Publish app to APM
   ✔ Deploy contract
   ↓ Automatically bump version [skipped]
     → Starting from initial version
   ✔ Determine contract address for version
   ✔ Building frontend

[2018-08-20 21:20] Sebohe opened #179 "Adding infura to truffle.js stalls aragon run"
I added the following to to my truffle config:

[code]
and now when ever I run `aragon run` it just stalls on Compile Contracts.

 The contracts compile and I can successfully run `truffle migrate --network infura`

[2018-08-20 21:32] Sebohe commented on #179
I will try changing to the HD wallet provider by truffle and see if that helps.

[2018-08-20 22:44] Sebohe commented on #179
Closing issue. It seems that the provider wasn't the issue.

[https://truffleframework.com/tutorials/using-infura-custom-provider](https://truffleframework.com/tutorials/using-infura-custom-provider)

"The provider value is wrapped in a function, which ensures that it won't get initialized until it's needed. This is especially important if connecting to multiple networks. "

Wrapping the provider

[2018-08-20 22:44] #179 closed

[2018-08-21 10:01] sohkai commented on #177
It might be something weird with the dev chain we set up.

Can you try `rm -rf ~/.aragon` and running it again?

[2018-08-21 10:55] Bloesum commented on #177
No, still same message 'ENS name not defined'.

[2018-08-21 14:47] #158 closed

[2018-08-21 15:01] izqui commented on #177
I can't reproduce either. Are you still getting the error if doing `aragon run --reset`?

[2018-08-23 16:16] #167 closed

[2018-08-26 10:15] arquimed opened #180 "Failed to compile: unable to load front end"
Hi all!

I am working on ubuntu 16.04 LTS, with Nodejs v.10.9.0 installed. I have followed all the steps on the tutorial correctly and deployed a test dapp:

1) npm i -g @aragon/cli
2) aragon init [name of dapp].aragonpm.eth react
3) npm i parcel-bundler -D
4) npm run build
5) npm run

The process runs smoothly and a new tab is opened on Firefox at http://localhost:3000/#/0xcb665437f03f2845D029619

[2018-08-26 11:42] sohkai commented on #180
@arquimed Ahh, seems like this is a problem with [aragon/aragon](http://github.com/aragon/aragon).

Do you mind cloning that repo and trying to spin it up (`npm install` and `npm start`)?

[2018-08-26 12:09] arquimed commented on #180
Hi there @sohkai !

After opening a new dir and doing the following steps:

- git clone https://github.com/aragon/aragon

- npm install

- npm start

I get the same error on compilation:

![aragon-aragon](https://user-images.githubusercontent.com/40397040/44628062-871f3700-a939-11e8-8bca-36165cb523ee.png)

I wonder whether it is the first time you get to know this issue? Should I reinstall npm or

[2018-08-27 16:06] arquimed commented on #180
Hi there @izqui !

I erased the project folder and proceeded to re-do the steps shown in my previous message (cloning aragon-aragon repo, etc), but I do still get the same error message.

![screenshot from 2018-08-27 18-05-37](https://user-images.githubusercontent.com/40397040/44670760-db064a80-aa23-11e8-96c7-c4c6f7b9905d.png)

Would you be so kind to describe step by step the steps I should do in

[2018-08-27 16:53] izqui commented on #180
Did you update to update the CLI to v4.1.6? You can check your version doing `aragon --version`.

If you are still in the previous version, you can update by doing:

```npm install -g @aragon/cli```

There is actually no need for you to clone the aragon/aragon repo, just need to update to the latest version of the CLI.

[2018-08-27 18:06] izqui commented on #180
Oh I think you may be trying to be starting aragon/aragon rather than your app using the CLI. Go to your Aragon app directory and do `aragon run`.

[2018-08-28 12:00] sohkai opened #182 "Allow user to specify version of aragon/aragon they'd like to use"
E.g. a tag, commit hash, or branch name.

[2018-08-28 18:44] arquimed commented on #180
Awesome!! After creating a totally new project and following the steps as described in tutorial I have been able to set my first test DAO using Aragon-cli.

Feels AMAZING xD

Thanks for the help!

![aragon-cli](https://user-images.githubusercontent.com/40397040/44743583-2d6a6880-ab03-11e8-8336-4d99f1969445.png)

[2018-08-30 13:39] #114 closed

[2018-08-30 18:08] izqui commented on #150
See https://hack.aragon.org/docs/cli-usage.html#aragon-run

[2018-08-30 18:08] #150 closed

[2018-08-31 09:45] izqui commented on #136
Added to https://hack.aragon.org/docs/cli-usage.html#resetting-the-devchain

[2018-08-31 09:45] #136 closed

[2018-08-31 12:08] #122 closed

[2018-09-01 05:05] atvanguard opened #188 "Why not use truffle to deploy contracts in `aragon deploy`"
[compile contracts](https://github.com/aragon/aragon-cli/blob/master/src/commands/deploy.js#L54) uses truffle to compile contracts [here](https://github.com/aragon/aragon-cli/blob/master/src/helpers/truffle-runner.js#L22).

For deploying contracts, see [here](https://github.com/aragon/aragon-cli/blob/master/src/commands/deploy.js#L60); why roll our own logic instead of simply using truffle?

Use c

[2018-09-01 07:16] atvanguard commented on #188
I think I understand. Is it because we want to attach `contractInstance` and `contract ` to `ctx` variable, so that they can be utilized in the subsequent steps of `aragon run` - and there is no straightforward of getting these values from `truffle migrate`.

If this is indeed true, how do I deploy an aragon app with custom deploy logic? - for instance, let's say I want to deploy another contract

[2018-09-03 08:34] izqui commented on #188
Because of how aragonOS uses Delegate Proxies for running apps, the base contract of your app that gets published when running `aragon apm publish` is not used directly, but used by proxy contracts as their logic. That causes that whatever state is stored by the constructor of your app, that will not be present in the instances of your app. The parameters you are currently passing as init argument

[2018-09-03 11:26] izqui opened #189 "Add support for initializing apps in 'aragon run' and 'dao install'"
As pointed out in https://github.com/aragon/aragon-cli/issues/188, the CLI currently doesn't initialize apps. We can pass constructor arguments on `aragon apm publish` and `aragon run`, but that is only useful for contracts that are used directly (such as kits) but not for app instances.

In the case of `aragon run`, when using it without a kit, the BareKit is used by default, which supports passi

[2018-09-03 12:02] izqui commented on #189
https://github.com/aragon/aragonOS/pull/415 will allow for initializing apps directly on `kernel.newAppInstance`

[2018-09-05 08:56] izqui commented on #73
Closing as it is no longer relevant

[2018-09-05 08:56] #73 closed

[2018-09-05 09:01] izqui opened #192 "Make 'aragon apm grant' use 'dao acl grant' and implement 'aragon apm revoke'"
The new `dao acl` commands allow for managing permissions in a DAO using transaction pathing. Currently `aragon apm grant` grants permissions to publish versions in a repo by interacting directly with the ACL, without performing transaction pathing.

A new `aragon apm revoke` command could be implemented to revoke the permission.

[2018-09-05 09:27] #124 closed

[2018-09-05 12:32] atvanguard commented on #188
Understood. Thanks for the quick PR!

[2018-09-05 12:32] #188 closed

[2018-09-05 19:01] galactusss opened #193 "Update react-kit documentation"
Reading documentation I notice the react-kit boilerplate is outdated in these webpages:

[https://hack.aragon.org/docs/cli-usage.html](url)
[https://hack.aragon.org/docs/kits-intro.html](url)

When I try to init an app with `aragon init test react-kit` I get: "No template named react-kit exists"

I believe this is the new react boilerplate: [https://github.com/aragon/aragon-react-kit-boilerplate](

[2018-09-05 22:30] sohkai commented on #193
@galactusss Did you try this with the latest `@aragon/cli` version (`4.2.1`)? The `react-kit` alias was only added in `4.2.0`.

[2018-09-06 10:55] galactusss commented on #193
You are right I had an older version of `@aragon/cli`. I update and works perfect. My bad 😄

[2018-09-06 10:55] #193 closed

[2018-09-10 14:58] PascalPrecht opened #195 "feat(commands/apm/publish): introduce option to perform version bump"
The development setup as it is right now, may introduce an out of sync state between the version of a contract deployed on the chain and the version stored in an app's `arapp.json` file.

**Here's one scenario**:

To develop an aragon sandboxed app locally, we use

[code]

which will spin up a devchain, deploy the app's contracts and also increases the version of the deployed contract by one major

[2018-09-10 16:42] PascalPrecht commented on #152
I think that to get verbosity in Aragon specific calls, there's a bit of work to do in preparing the codebase accordingly. However, if this is about getting more output from whatever is happening in the CLI in general, and also getting proper outputs when console logging and similar things, there's a VerboseRenderer that can be used for that: https://github.com/SamVerschueren/listr-verbose-rendere

[2018-09-11 09:09] izqui commented on #195
I like the proposed solution.

However if we introduce this way of performing version bumps that takes the on-chain last published version as the base version to perform the bump, we should also change `aragon apm version [bump]` so it no longer does the bump based on the version in the `arapp.json` file.

It would be very confusing to have `aragon apm publish --version-bump=[bump]` and `aragon ap

[2018-09-11 12:54] PascalPrecht opened #196 "feat(apm/version): bump version based on latest published version on chain"
Instead of just incrementing the version number stored in an app's manifest (`arapp.json`), `apm version` should reach out to the latest published version on chain, increase from there and sync the value back into the app's manifest.

Most of the reasoning for this change has been discussed in https://github.com/aragon/aragon-cli/issues/195#issuecomment-420203443

[2018-09-11 12:56] PascalPrecht commented on #195
Agreed. Created https://github.com/aragon/aragon-cli/issues/196 accordingly

[2018-09-11 13:46] PascalPrecht opened #198 "WRAPPER_PORT is not used when spinning up Aragon client via run command"
When running

[code]

the aragon wrapper client is being served on port 3000. This port is configured in the codebase using `WRAPPER_PORT`. However it turned out it's not actually used when the client is served.

This needs to be fixed so that configured port coming from the run command is passed down as environment variable to aragon/aragon.

[2018-09-11 14:38] PascalPrecht opened #199 "Introduce option use custom locally installed Aragon client"
This came up as I was implementing #198. In order to implement #198, we need to make changes in aragon/aragon's npm scripts as it should look for a newly introduced `ARAGON_CLIENT_PORT` env variable.

While setting custom env variables through the CLI works, there's no easy way to verify whether the installed Aragon client (wrapper) actually consumes that env variable.

To verify this, we need a w

[2018-09-11 15:32] PascalPrecht commented on #199
Related: https://github.com/aragon/aragon/pull/352

[2018-09-11 21:02] sohkai commented on #195
I think it'd still be useful for a generated file to contain the `version` field, that's used during publishing, so it's easy to verify a particular deployment.

The tooling could add this into the file into its tmp dir when deploying.

[2018-09-11 21:08] sohkai commented on #199
Really like the `--client-path`!

[2018-09-12 06:27] PascalPrecht commented on #195
Yes. For now we went with a hybrid solution as well. The version is always synced back into `arapp.json`, using the on chain version as single source of truth.

Whether we want to get rid of the version field eventually or not can then be revisited.

[2018-09-12 07:15] PascalPrecht opened #202 "apm version command should throw if no version bump type is given"
Running

[code]

within any aragon app repository results in `New version: 1.0.0`.

It shouldn't be possible to call `$ apm version` without a release type in the first place.

[2018-09-12 08:37] luisivan opened #203 "Improving developer environment setup"
With a 30MB/s connection and a i7 laptop, it takes:
- 1 minute to `npm i -g aragon-cli`
- 1 minute and 30 seconds to `aragon init`
- 1 minute to `aragon run` until downloading the client
- 1 minute and 30 seconds to download the client and install its dependencies
- 30 seconds to start the client

Which adds up to **5 minutes and 30 seconds**. Plus whatever it takes to install IPFS.
I'm guessing l

[2018-09-12 08:51] izqui commented on #203
Another notable improvement for reducing install time for the CLI would be to clean up some of the dependencies it has.

Some low hanging fruit would be removing the dependencies on our apps (`@aragon/apps-*`) which are only used to have the role names that these apps define so they are displayed when doing `dao acl`. These roles can be found in the published app's artifacts, so there is no need t

[2018-09-12 09:00] PascalPrecht opened #204 "$ aragon run is failing on latest master"
Executing `$ aragon run` in the latest version (https://github.com/aragon/aragon-cli/commit/561ab2d629e0e705185f273e59ea3210d4182bd5 at the time of writing this issue) in newly scaffolded aragon app results in:

[code]

I first thought this had something to do with the version of the aragon client being checked out by the CLI. However, it turns out that it doesn't matter whether the currently hard

[2018-09-12 09:16] PascalPrecht commented on #204
Okay, turns out this commit causes it: https://github.com/aragon/aragon-cli/commit/e3d01b12b7b202459bd80b6e02b1e3d91f76a301

Which is really just the change of the wrapper commit. So the actual bug is in the wrapper repository. Need to investigate more...

[2018-09-13 10:14] izqui opened #206 "'aragon ipfs' hangs at 'Starting IPFS' if it wasn't previously installed"
After merging #205, I did some more thorough testing removing ipfs from my machine to make sure it was properly using the binary from the new dependency. I think it is using the globally installed IPFS even thought by default `execa` uses the local dependencies when [looking for binaries](https://github.com/sindresorhus/execa#preferlocal).

Right now I cannot get past `Starting IPFS at port: 5001`

[2018-09-13 12:43] #182 closed

[2018-09-14 10:02] #199 closed

[2018-09-14 10:08] #159 closed

[2018-09-23 17:46] izqui commented on #133
I was about to start working on an improved extractor and found a PR adding this to truffle, which would make notice strings available in truffle build artifacts https://github.com/trufflesuite/truffle/pull/1221

Still thinking about whether it would make sense to have a standalone extractor that wouldn't depend on truffle, which would just extract all the notice strings from a contract.

[2018-09-25 10:06] #206 closed

[2018-09-25 10:28] #198 closed

[2018-09-25 14:28] aj07 commented on #135
@gitcoinbot just wanted to confirm, is this issue of 0.02$?

[2018-09-25 15:03] Quazia commented on #135
No, I was just playing around with the gitcoin system since I knew you'd be taking this issue. We'll use the Giveth DApp and can discuss how long the issue takes you and come to something we both think is fair!

[2018-09-25 16:03] sohkai opened #213 "Detect local IPFS version and warn if it's too old"
Some old IPFS versions have weird behaviours, and if we depend on a particular bug fixes in certain versions, it would be good to warn the user that they can't use a version that's too old.

[2018-09-25 16:07] sohkai commented on #133
I think the most robust way of extracting this info would just be compiling a contract and extracting the natspec from the solc output. However, doing this compilation requires tools like truffle for resolving files, etc.

[2018-09-25 16:31] izqui commented on #133
Yep, that's what I meant, having a extractor that would use solc to get the `userdoc`. My question was whether we should build that as a standalone tool or depend on truffle for that.

[2018-09-25 16:33] izqui commented on #213
After #207 is released this should no longer be an issue since the IPFS binary is a dependency to the CLI

[2018-09-25 17:17] sohkai commented on #213
What if I already have ipfs installed locally though?

[2018-09-25 17:18] sohkai commented on #133
Given that we currently bundle truffle and use it to compile / test / etc, I think we should initially just use truffle's artifact output and add support for other methods when/if someone needs that functionality.

[2018-09-26 06:04] #213 closed

[2018-09-28 17:10] 0x6431346e opened #214 "Permissions are not setup correctly for the Counter app(?)"
To reproduce this:
1. `aragon init foo`
2. `aragon run`  (pin `parcel-bundler` to `v1.9.3` if running fails)
3. Press `increment` in the counter app

![image](https://user-images.githubusercontent.com/26041347/46221567-5fffbf00-c356-11e8-8f91-60dec4a78c5f.png)

Browser console logs:
`transaction bag {transaction: undefined, path: Array(0), accept: ƒ, reject: ƒ}`

4. Add a new permission
![image](h

[2018-09-28 19:23] erikriver opened #215 "Error building frontend with the tutorial steps"
Hello, following the steps in the tutorial, I've this error:

[code]

I'm using macOS High Sierra and my versions are:
[code]

Could you help me to understand the cause of this error?
Regards.

[2018-09-30 07:42] 0x6431346e commented on #215
Hello Erik,
The building of the frontend is failing because of the new version of `parcel-bundler` (`v1.10`).
While we are working on this issue you can try to pin parcel to `v1.9.7` by running:
- `npm un parcel-bundler`
- `npm i -D parcel-bundler@1.9.7`

[2018-10-01 09:03] 0x6431346e commented on #215
You might also run into this error:

/home/daniel/.aragon/wrapper-fcebf55d1af6c574a92587e2a1d3ac8c00804d16/src/index.html: Conflicting babel versions found in .babelrc. Make sure all of your plugins and presets depend on the same major version of babel.

This is `aragon-core` (the wrapper) failing to build because of parcel's "minor" update :disappointed: :

Until we publish `v5.0.1` you can try:

[2018-10-01 13:19] izqui commented on #214
Just to confirm, the network and the account are properly set in Metamask right?

[2018-10-01 14:12] cjyabraham commented on #214
I got the same issue and yes, I've set the Metamask account correctly I think.

[2018-10-01 16:49] erikriver commented on #215
It works! Thanks @0x6431346e

Regards.

[2018-10-01 16:55] 0x6431346e commented on #215
Should be fixed in the next release

[2018-10-01 16:55] #215 closed

[2018-10-01 17:07] 0x6431346e commented on #214
@izqui this was resolved by deleting `.aragon/ganache-db-8545`

Maybe we should consider having a different ganache folder for each aragon os version ? :thinking:

[2018-10-01 17:10] luisivan commented on #214
That'd make a lot of sense @0x6431346e

[2018-10-01 21:54] jvluso opened #217 "incorrect babel version for the ui"
![screenshot from 2018-10-01 14-48-58](https://user-images.githubusercontent.com/8061735/46317934-af7a0100-c589-11e8-888f-3b43b532f335.png)

The rest of the cli other than the browser ui is working.

[2018-10-01 22:46] Quazia commented on #217
I bumped into this locally and it ended up being related to babel-styled-component-plugins, I'm going to look into this tonight.

[2018-10-01 23:08] Quazia commented on #217
Wait, is this fixed by #216 ? @0x6431346e

[2018-10-02 05:02] 0x6431346e commented on #217
Yes, and by https://github.com/aragon/aragon-react-boilerplate/pull/27

This is duplicate of https://github.com/aragon/aragon-cli/issues/215 , which I suppose I shouldn't have closed :smile:

[2018-10-04 00:49] rperez89 commented on #204
Hi @PascalPrecht i am having the same issue! how do you solve it? i am just runing npm run start

[2018-10-04 00:50] rperez89 commented on #204
and that happened to me trying to run the : https://github.com/aragon/aragon-react-kit-boilerplate

[2018-10-04 02:56] Quazia commented on #204
I would try ``rm -rf ~/.aragon`` and then try the solution [here](https://github.com/aragon/aragon-cli/issues/215#issuecomment-425837204). Let me know if you're still having an issue.

[2018-10-04 15:28] Quazia commented on #147
Did you determine whether this was an issue with the underscore or get any more conclusive information on this issue?

[2018-10-04 15:36] Quazia commented on #97
Does anybody know if this is still an issue? If no response will be checking to see if the issue is still present.

[2018-10-04 15:36] Quazia commented on #93
Any updates on this currently? Getting tests into CLI is going to be a priority for us soon.

[2018-10-04 15:52] Quazia commented on #202
Right now it just logs the current version, it would make sense to change the docs and keep the command as is so it logs `Current version: *current version*"` so there's a way to check current version from the cli.

[2018-10-04 15:54] 0x6431346e commented on #137
Fixes: #214

[2018-10-06 16:41] Quazia commented on #202
Ok, so should `aragon apm version` error?

[2018-10-06 17:16] izqui commented on #202
The reason it doesn't error is because `aragon apm version` accepts either a bump type (major, minor, patch) or a version number directly, and if nothing is specified then it defaults to `1.0.0`.

Removing the default value and making the argument required would solve the issue.

[2018-10-07 00:59] jvluso opened #218 "schedule/tracking cannot be found"
![image](https://user-images.githubusercontent.com/8061735/46577023-fbfd7c00-c98f-11e8-9e3d-ede39ed2a495.png)

I'm not sure what is looking for 'tracking' but the package contains only 'tracing'.

[2018-10-07 01:05] Quazia commented on #218
Is this new? Just from `aragon run`?

On Sat, Oct 6, 2018, 8:59 PM jvluso <notifications@github.com> wrote:

[2018-10-07 03:41] jtremback commented on #147
Pretty sure it was an underscore thing

[2018-10-07 12:47] sohkai commented on #218
Weird, are you using the latest version on npm or the one on master? We really should've published a new version of the cli that fixes the babel migration issues before ETHSF.

[2018-10-07 13:37] 0x6431346e commented on #218
I think we should publish `package-lock.json` in `aragon/aragon` to have deterministic installations of the wrapper, prevent build failures.
We can always make a new release if we want the dependencies to be up-to-date.
Thoughts?

[2018-10-07 13:42] sohkai commented on #218
This is something we'd like to do for the releases in aragon/aragon: (see WIP PR that has gone a bit stale: https://github.com/aragon/aragon/pull/357).

Ideally the cli would also target only the release tags of aragon/aragon, which would include an `package-lock.json`.

[2018-10-08 06:43] PascalPrecht commented on #93
@Quazia https://github.com/aragon/aragon-cli/pull/168 is pending since quite a while (and needs a rebase), but it implements some first couple of tests.

[2018-10-08 10:44] sohkai commented on #214
@0x6431346e Should we close this for #137?

[2018-10-09 05:58] 0x6431346e commented on #214
Yep

[2018-10-09 05:58] #214 closed

[2018-10-10 14:14] kartojal opened #219 ""aragon ipfs" hangs if 8080 port is already used by another service"
Was trying to setup an aragon kit and found that was not capable to do "aragon ipfs" or "aragon run ...", it always hangs forever, with the output at "Starting ipfs at port 5001" at my machine, so investigating a bit more decided to run my own ipfs installed daemon.

Found the IPFS gateway uses the port 8080, so if you have something using that common port, like an nginx service, the aragon cli ju

[2018-10-10 14:59] luisivan commented on #219
Thanks for reporting! Looking forward to that PR :+1:

[2018-10-12 16:51] galactusss commented on #98
Hi I'm trying to tackle this issue. I been researching and I have some questions:

1. I need to create a totally new aragon command (like aragon run, aragon init, etc) for start?
2. The second task, it means to add the new aragon start command as a new task in aragon run TaskList?

[2018-10-12 19:06] rperez89 commented on #204
@Quazia thanks for your answer, i did it and i am still getting conflicting babel versions found

[2018-10-12 20:16] rperez89 commented on #215
hi @0x6431346e i followed your steps but i am still getting that error, i am with node 8.10 any idea?

[2018-10-13 02:51] sohkai commented on #98
@galactusss Yup :).

It's likely to involve making the [`Open DAO`](https://github.com/aragon/aragon-cli/blob/master/src/commands/run.js#L247) tasks its own command and then calling it in `aragon run` like [how we do a few of the other commands](https://github.com/aragon/aragon-cli/blob/master/src/commands/run.js#L161).

[2018-10-15 08:11] 0x6431346e opened #220 "Linting is not working"
Related:
https://github.com/aragon/aragon.js/pull/170
https://github.com/aragon/aragon.js/pull/172

[2018-10-15 13:53] 0x6431346e commented on #219
This might be fixed by #211

[2018-10-15 14:16] 0x6431346e opened #222 "--cwd option is ignored"
`aragon run --cwd /home/daniel/repos/aragon/playground/react/`

gives

Related error:
[code]
(the version command should not check for an aragon project dir, same for `--help`, etc)

Nice to have:
- tests
- documentation on hack.aragon.org (not only --help)

[2018-10-15 15:33] izqui commented on #133
Truffle has already merged it into their `next` branch, so it will be released with version 5

[2018-10-15 20:03] rperez89 commented on #215
Thanks!! now it's working!

[2018-10-16 18:46] jtremback opened #224 ""aragon run" hangs on "Start IPFS""
There is another issue (https://github.com/aragon/aragon-cli/issues/219) where the poster believes this is due something already using port 8080. I have found that it hangs even if nothing is on 8080. The only thing that fixes it is running "ipfs daemon" separately.

[2018-10-17 06:46] galactusss commented on #98
Thank you for your answer @sohkai it helped me to keep forward. I kind of start understanding yargs.

I would like to have some guide about the positional argument [git-ref] My guess is that 'git-ref' is the git repo of the wrapper, but I'm not sure.

[2018-10-17 08:15] sohkai commented on #98
`[git-ref]` would be a commit hash, branch name, or tag name. Basically something that can be used with `git checkout`.

[2018-10-17 09:12] izqui commented on #98
Actually `aragon start` should use the new flags `aragon run` accepts for configuring how the client is run: `--client-version` (what was referred here as `[git-ref]`), `--client-port` and `--client-path`

[2018-10-17 11:58] aj07 commented on #135
https://github.com/aj07/aragon-cli/pull/1

[2018-10-17 16:03] Bowfish opened #225 "Error: Cannot find module './build/Release/scrypt' when running aragon init"
I just installed aragon-cli.

When I run the command `aragon init foo.aragonpm.eth react` I get the following error message:

[code]

[2018-10-18 08:47] sohkai commented on #119
Yes, we're still working on a new iteration of the package manager which won't have this limitation.

[2018-10-18 13:20] 0x6431346e opened #227 "Some kits don't have their content published to ipfs-cache (aragen)"
![image](https://user-images.githubusercontent.com/26041347/47156881-b7a79f80-d2f0-11e8-9ba1-5a5580c68c9e.png)
![image](https://user-images.githubusercontent.com/26041347/47156895-c0987100-d2f0-11e8-8b33-d87a327e7a8e.png)

To reproduce:
1. `aragon devchain`
2. `npm run start:local` on the `aragon/aragon` repo
3. Create a new organization

Alternatively:
1. `aragon init foo`
2. `aragon run`
3. Inst

[2018-10-18 14:09] izqui commented on #227
The current version of `aragen` doesn't have the DAO kits deployed, that's why the ENS names cannot be found. `aragen` versions will start containing these very soon.

[2018-10-18 14:14] perissology commented on #119
appName probably needs to be on a per registry basis right? Different registries may be a different ens root.

Why is the `version` even necessary in `arapp.json`? `aragon apm publish` already accepts a `bump` param. We could easily determine the correct version to publish for the given registry.

`arapp.json` could be something like:

[code]

[2018-10-18 15:00] sohkai commented on #119
Good points @perissology, I think that's valid. It think having version numbers does help developer experience, but it's already handled by things like the `package.json`.

[2018-10-18 17:57] izqui commented on #119
This looks great @perissology!

Maybe we can introduce the concept of `environment` that would have a registry address (in case it is not the default one for the network), app name and network, that could be referred directly when executing commands like publishing: `aragon apm publish --environment staging`.

[code]

[2018-10-18 18:53] perissology commented on #119
@izqui I like the idea of `environments`.

I assume we would deprecate the `--network` flag in favor of `--environment`.

`aragon run --environment rinkeby-my-apm`

is cleaner then

`aragon run --network rinkeby --apm.ens-registry 0xXXXXX`

[2018-10-18 18:57] izqui commented on #119
I agree. I think once we get this in we can deprecate `--network` but we will need backwards compatibility for some time.

[2018-10-19 06:02] #43 closed

[2018-10-19 06:04] #220 closed

[2018-10-19 19:06] aj07 commented on #135
@Quazia or @sohkai Will you Please close this, If things are ok

[2018-10-19 19:42] sohkai commented on #135
@aj07 	could you make the pull request against this repo? I think you've made it against your own fork :).

[2018-10-19 19:49] perissology commented on #219
looks like this is fixed now. An error is thrown

[2018-10-19 19:49] aj07 commented on #135
ahh.. .got it. Done @sohkai

[2018-10-22 12:51] izqui opened #237 "Add `Check IPFS` step to `aragon dao new`"
When `dao new` is used to deploy a DAO using a kit, if IPFS is not running, the artifacts of the kit cannot be fetched and results in the following error:

[code]

The error can be bypassed by manually starting `aragon ipfs` and then running the command, but it would be nicer to directly start IPFS if needed as part of the command execution (as we do in `aragon apm publish` for example).

[2018-10-22 16:12] aj07 commented on #89
@izqui Please have a look to PR

[2018-10-23 10:40] #119 closed

[2018-10-23 10:50] #134 closed

[2018-10-23 12:54] sohkai commented on #196
#230 has solved this differently.

[2018-10-23 12:54] #196 closed

[2018-10-23 14:13] izqui opened #243 "Handle arapp JSON parsing errors"
After #230, if the `arapp.json` file is not a valid JSON file, the error that gets printed to the user is:

[code]

We should catch the error parsing the arapp file and let the user know so it can be fixed.

[2018-10-23 15:34] perissology opened #244 "Add better check if ipfs gateway is running"
The current check only looks to see if the gateway port is taken. If so, we assume that ipfs is running.

However if another process is using that port, an no-descrptive error is thrown

`Unexpected token < in JSON at position 0`

[2018-10-23 21:28] frankchen07 commented on #135
It looks like this issue is closed out. @aj07 did you get paid out? If yes, we can mark the bounty as done.

[2018-10-24 04:16] aj07 commented on #135
@frankchen07, No Gitcoin has limitation of working 3 issue at a time. I wanted to work on another issue. So, I withdrew from bounty. But, anyway please merge if patch works fine to your requirement.

[2018-10-24 21:09] frankchen07 commented on #89
hey @Quazia, can you approve @aj07 for work?

@aj07 - thanks for taking up the issue. For future reference, we're trying to get funders to approve faster, so it might be risky for you to start an issue without approval. (Just a thought though), and a note for Gitcoin improvements :)

[2018-10-25 18:41] #217 closed

[2018-10-28 17:14] aj07 commented on #89
I have submitted the PR @gitcoinbot

[2018-11-03 16:19] aj07 commented on #89
@Quazia Will you please review it

[2018-11-03 22:03] TalkingAntColony opened #257 "Unable to install @aragon/cli"
On OSX 10.14, node 10.13.0 (managed via nvm 0.25.1)

Debug log:

https://gist.github.com/TalkingAntColony/cf18e69278a26df6524897b6744db8ce

[2018-11-04 17:55] rubelux commented on #257
Same here, Npm can't find ```go-ipfs``:

[code]

[2018-11-05 11:07] maxxflyer commented on #257
same here
npm ERR! path /home/qbert/.nvm/versions/node/v10.13.0/lib/node_modules/@aragon/cli/node_modules/go-ipfs/bin/ipfs
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/home/qbert/.nvm/versions/node/v10.13.0/lib/node_modules/@aragon/cli/node_modules/go-ipfs/bin/ipfs'
npm ERR! enoent This is related to npm not being able to

[2018-11-05 11:11] izqui commented on #257
Taking a look.

[2018-11-05 11:18] izqui commented on #257
Looks like the update of `go-ipfs` to 0.4.18 is broken. We will have to pin to 0.4.17 until they fix it.

https://github.com/ipfs/npm-go-ipfs/issues/17

[2018-11-05 12:13] tommycox commented on #257
In the meantime, the CLI works if installed and linked from source as detailed here (https://hack.aragon.org/docs/cli-usage.html#install)

[2018-11-05 12:51] #257 closed

[2018-11-05 12:59] izqui commented on #257
@TalkingAntColony @rubelux @maxxflyer Just published v5.2.0 which has a fix for this. Thanks for reporting and help debugging!

Also @tommycox thanks for the fix upstream!

[2018-11-07 15:51] bingen opened #263 "Files explicitly passed as a parameter with `--files` should not get ignored"
Explicitly added files should take precedence over `.gitignore`. Right now if you run `aragon run --files app/build` (or `aragon publish`) but you have `build` in `.gitignore` contents in that folder would not be published.
Relevant lines were:
https://github.com/aragon/aragon-cli/blob/master/src/commands/apm_cmds/publish.js#L198
https://github.com/aragon/aragon-cli/blob/master/src/commands/apm_cm

[2018-11-07 20:39] sohkai opened #264 "aragon devchain does not show the output of ganache"
Would be nice to see the transactions output, especially when debugging to see why a particular transaction failed.

[2018-11-08 13:23] sebohe opened #265 "Enviroments flag doesn't detect rinkeby network."
I'm trying to publish the aragon example aragon app to rinkeby to make sure I have everything right when deploying my own app.

Here is my `truffle.js:`
[code]

And here is my `arapp.json`
[code]
sasuquatch_rpc has an unlocked account. It is like this because it is the easiest way to remove other variables that might cause this.

I run:
`aragon deploy --enviroment infura` or any of the other envir

[2018-11-08 13:27] sebohe opened #266 "Enviroment flags doesn't take effect, defaults to default enviroment"
command:
`aragon deploy --enviroment infura`

Error:
[code]

Now I start `aragon devchain` and then do `aragon deploy --enviroment infura`. This successfully deploys the counter app  to the devchain, but not on rinkeby. I expected it to actually deploy to rinkeby.

Here is my repo: https://github.com/sebohe/someappname

[code]

[2018-11-08 13:42] sebohe opened #267 "Can't manually publish an aragon app to devchain"
Steps:
- 1
`aragon devchain`
- 2
 `ipfs daemon`
- 3
[code]
- 4
[code]
I would like to run this against a different environment, but because of this https://github.com/aragon/aragon-cli/issues/266 I haven't been able to run `aragon apm publish` on anything besides the devchain
[code]

[2018-11-08 15:59] Quazia commented on #267
Just add a <bump> tag `1.0.0` or `major` like this... `aragon apm publish major 0x48e9d06106F9B65963472965245F4c676fBD72d6` also you shouldn't have to start IPFS seperately the devchain should do that for you. Let me know if you're still having these issues. Also whatsup @sebohe long time no see!

[2018-11-08 16:08] sebohe commented on #267
Well, that worked. I hate when this happens :sweat_smile:

I didn't expect you around here. thanks for the help!

[2018-11-08 16:08] #267 closed

[2018-11-08 17:46] sebohe commented on #266
I guess the reason for me to use the --enviroment flag is because i get this error when I use the --network flag:
[code]

[2018-11-08 20:30] Quazia commented on #266
At the very least this is indicative of a documentation issue. I'll look into this more and see what I can find. Do you have any logs or any more information on what happens when you run `aragon deploy --enviroment rinkeby`? How are you checking if the contract was deployed to Rinkeby or not?

[2018-11-09 17:48] aj07 commented on #89
I am backporting it and submit the patch soon

[2018-11-10 18:31] sebohe commented on #266
@Quazia,

I found the issue. The flag `--environment` has a typo. Missing the letter n. I will never forget how to spell that word ever again.

Maybe `aragon` should tell you that the flag isn't the right one? A lot of dead ends could have been avoided because I think that the command is correct! but it errors out as if something else is wrong.

Thanks for your help! I will close this issue and ma

[2018-11-13 11:03] sohkai commented on #266
@sebohe Hmm, yes, we should definitely warn about an unknown parameter, and maybe exit printing the help message.

[2018-11-13 13:22] 0x6431346e opened #271 "dao acl [address] cannot print table"
[code]

[2018-11-13 15:48] 0x6431346e opened #273 "aragon run --http does not install the app"
To reproduce:
1. `aragon init foo`
2. `npm run start:aragon:http`
3. `npm run start:app`

Current behavior: the wrapper starts at `localhost:3000`, but the counter app is not there
![image](https://user-images.githubusercontent.com/26041347/48424817-c7859880-e763-11e8-9eb7-b0d9e4fd2f19.png)

Note: `aragon run` seems to work correctly

Any thoughts on how to debug this?

[2018-11-13 17:19] #266 closed

[2018-11-13 17:20] sebohe commented on #265
I had a typo on my environment flag :man_facepalming:  . closing issue.

[2018-11-13 17:20] #265 closed

[2018-11-14 11:52] #244 closed

[2018-11-15 17:17] sohkai commented on #271
Closed with #252.

[2018-11-15 17:17] #271 closed

[2018-11-16 13:02] sohkai opened #274 "Error in "Your first Aragon app" tutorial"
@yutarond commented on [Fri Nov 16 2018](https://github.com/aragon/hack/issues/55)

I tried following this ["Your first Aragon app" tutorial](https://hack.aragon.org/docs/tutorial.html). When I run `aragon run` command, got an error bellow:

[code]

[2018-11-16 13:04] sohkai commented on #274
@yutarond I moved this repo to the CLI, since it appears that's where the issue is.

Seems like it's something to do with ganache, which is odd. Maybe there's something wrong with the new aragen snapshot @izqui?

[2018-11-16 13:13] sohkai opened #275 "Spin off `aragon init` as `create-aragon-app`"
There's been some community support around using one-time commands with `npx` to generate boilerplates.

An ideal flow would be `npx create-aragon-app <name> <boilerplate>` so that users don't have to install a global version of the CLI just to init the project (which often includes its own dependency of `@aragon/cli`).

[2018-11-16 13:32] sohkai commented on #225
@Bowfish Could you try installing the latest version (`5.2.0`) and try again?

[2018-11-16 13:52] sohkai commented on #273
Hmm, does the console have any logs? Maybe it couldn't fetch the artifacts, or the local server for the app didn't spin up in time?

[2018-11-16 18:51] macor161 commented on #274
I submitted a pull request that uses `ganache-core v2.2.1`.
This is a temporary fix until we get to know exactly what in the new `ganache-core` version is causing the bug.

[2018-11-16 21:18] dentropy commented on #177
You require more than just a ganache instance ganache requires an ENS deployment. The CLI tool uses aragen which you can run independently. https://github.com/aragon/aragen

[2018-11-17 16:04] #152 closed

[2018-11-18 13:14] sohkai commented on #227
@0x6431346e With v5.2.0, I think this should be fixed now? I think we can also close #177 since we couldn't reproduce it and it was a fairly long time ago.

[2018-11-18 14:30] sohkai commented on #224
@jtremback Going to close this, since we've improved our handling of IPFS (#211 and #245).

[2018-11-18 14:30] #224 closed

[2018-11-18 14:31] sohkai commented on #219
Should be fixed by #211 and #245.

[2018-11-18 14:31] #219 closed

[2018-11-18 14:32] sohkai commented on #143
@izqui I believe this is either fixed or unnecessary now?

[2018-11-20 08:37] drexpp commented on #237
Hello Jorge, I was having a look on this issue, I would like to know if the proposed changed is about adding a new task to the TaskList in "src/commands/dao_cmds/new.js" as it is done in the TaskList of the file "src/commands/apm_cmds/publish.js"(lines 282 tp 284), as well as the import required and the yarg message.

Thanks for your time.

[2018-11-20 13:33] 0x6431346e commented on #227
I think we can close #177 since we cannot replicate it, but this one is not yet fixed, just tried it with `v5.2.0`

[2018-11-20 13:46] 0x6431346e commented on #125
True, we can now use either the `--debug` flag or `DEBUG=1` environment variable

[2018-11-20 13:46] #125 closed

[2018-11-20 16:00] 0x6431346e commented on #273
Nothing uncommon, it does see only 3 apps though: kernel, acl, evm script registry.
If I run `dao apps [dao-address]` I get only the `acl` and `evmreg` :thinking:

cli output:
[code]

Where do we add the app to the dao?
Also does it makes sense to output the counter app contract address?

[2018-11-21 09:38] ceresstation commented on #135
Hey @aj07 are you able to apply + submit work once one of those bounties is complete so that @sohkai can pay you out?

[2018-11-21 10:31] ceresstation commented on #89
Thanks @aj07, any updates here?

[2018-11-28 12:42] galactusss opened #278 "Add Git hook for linting"
Start with ESLint and Prettier [#217](https://github.com/aragon/aragon.js/issues/217)

[2018-11-30 14:17] #177 closed

[2018-11-30 14:18] Quazia commented on #177
If this can be replicated we can re-open. For now closing this issue.

[2018-11-30 14:19] Quazia commented on #74
Moving to close this issue as terminology may be confusing and issue has seen little movement.

[2018-11-30 14:19] #74 closed

[2018-11-30 14:20] #153 closed

[2018-11-30 14:31] Quazia commented on #57
Fairly sure this is no longer relevant as storage approach has changed. Moving to close unless I hear on this issue in the next week.

[2018-11-30 14:33] Quazia commented on #133
Moving to close assuming changes to truffle resolve this issue.

[2018-11-30 16:51] galactusss commented on #172
Is this https://github.com/aragon/specs/tree/master/client a good place to document it?

[2018-12-01 16:31] bingen commented on #274
Yes, indeed that seems to be the problem, The exact change that is breaking it is this one:
https://github.com/trufflesuite/ganache-core/commit/22e3af697dcd1ee68e7f671ad3bdc128b7c5f1bc#diff-f7055d87f223a4d22d9d739ca35e954aR36
In particular, it seems to be the addition of `encoding-down`.

[2018-12-01 18:20] bingen commented on #274
This is fixed temporarily in #280.
For a more stable solution, I opened a PR in `ganache-core` repo, not sure if that's the best way to fix it, but their tests are passing and our `cli` is working with it:
https://github.com/trufflesuite/ganache-core/pull/239

[2018-12-02 15:12] tommycox opened #281 "aragon devchain fails while starting"
Mac OSX. Tested on fresh npm install of `@aragon/cli` using node v8.14.0 and v10.14.1. Also affects `aragon run`

[code]

[2018-12-02 16:13] tommycox commented on #281
A fresh install on an Ubuntu machine had no issue 😕

[2018-12-04 09:55] osarrouy opened #282 "Wrong options provided by `--help` for subcommands"
The `aragon devchain --help` command is misleading users by displaying generic options the devchain actually does not take into account: notably `network` and `environment`.

This is due to the fact that these options are defined at the root of the `yargs` entry point and not on a per-command basis:

https://github.com/aragon/aragon-cli/blob/389b08d94b9b0644f7e9a2634180910ee124b8b3/src/cli.js#L85

[2018-12-04 23:10] galactusss commented on #273
I tested with all the kits and is working fine. I had to follow the steps in this order:
1. `aragon init foo`
2. `npm run start:app`
3. `npm run start:aragon:http`

Got this behavior only if I stop the server running the app.

@0x6431346e  I tested on Mac. Do you think is safe to close this issue? Or I should test it with a virtual machine on linux and windows?

[2018-12-05 11:10] sebohe opened #283 "Solidity parser fails on fallback function"
The solidity parser fails when there is fallback function BUT it only happens when there is no space.

Works:
```function () payable {}```

Does not work:
```function() payable {}```

[code]

The culprit is this line: https://github.com/aragon/aragon-cli/blob/master/src/helpers/solidity-extractor.js#L18

It isn't urgent for this to get solved, but I'd rather see this documented until the regex get

[2018-12-06 07:07] wcisco17 opened #285 "Live Reload"
Thank you for your amazing work. I had a question regarding Hot Reload, and how it could be implemented in the kit boilerplate.

I installed react-hot-loader

and did this

`import { hot } from 'react-hot-loader'

`const Application = hot(module)(ConnectedApp)

ReactDOM.render(
  <Application />,
  document.getElementById('root')
)
`

I tried Several times to reload the application live and unfort

[2018-12-06 16:41] sohkai commented on #172
@galactusss Actually it turns out this has been documented already in https://hack.aragon.org/docs/cli-usage.html#the-aragon-directory :).

[2018-12-06 16:41] #172 closed

[2018-12-06 16:44] sohkai commented on #57
@Quazia This is still relevant, in case apps change their storage layout between updates. The proxying storage has changed, but it's still possible for someone to completely mess up an app's internal state after upgrading.

We would likely need to encode some metadata about the storage layout as part of each package's metadata (similar to how we storage the flattened code and compiler options) on

[2018-12-06 17:13] sohkai commented on #273
Ahh, it could be that you weren't running `start:app` first, as [documented](https://github.com/aragon/aragon-react-kit-boilerplate/blob/master/README.md#using-http).

This server needs to be available for it to fetch the metadata (artifact.json, manifest.json) in order for aragon/aragon and the CLI to display it as an app.

[2018-12-06 17:21] sohkai commented on #281
@tommycox You might also have some luck by removing the `~/.aragon` directory, if you had previously installed a different version before.

[2018-12-06 20:36] tommycox commented on #281
Ah ha! That did the trick, thanks @sohkai 🎉

[2018-12-06 20:36] #281 closed

[2018-12-07 09:23] 0x6431346e opened #286 "setPermissions on `dao install` should use transaction pathing"
See https://github.com/aragon/aragon-cli/pull/270#discussion_r235126972

[2018-12-08 06:07] wcisco17 commented on #285
Gotcha, that clears it up. Thanks for you help, I'll do some digging on the vault app.

[2018-12-08 06:10] wcisco17 commented on #285
Yes, I ran `npm run start:app` first. That command works, I'm just having trouble with running `start:aragon:http`.

[2018-12-08 20:00] galactusss commented on #285
@wcisco17 As quick fix you can try using
[code]
Instead of the npm script

[2018-12-10 01:40] ryan-shea commented on #89
hey @aj07, any updates? will release to other bounty hunters if I don't hear from ya!

[2018-12-10 01:51] ryan-shea commented on #135
Hey @saurav-malani, any updates here? Just checking in :smil

[2018-12-10 02:37] aj07 commented on #89
@ryan-shea I was in EthSingapore. Will sure up the patch

[2018-12-10 13:46] #68 closed

[2018-12-10 14:52] galactusss opened #290 "aragon run --kit Kit --kit-init @ARAGON_ENS Return VM Exception on react-kit"
Related to https://github.com/aragon/aragon-react-kit-boilerplate/issues/19

[2018-12-10 21:56] galactusss commented on #273
I'm reopening this issue. I experienced the behavior again. But I found the root of the problem. I explain it next:

When running for the first time `npm run start:aragon:http` the command fail with this message
<img width="800" alt="image" src="https://user-images.githubusercontent.com/9082013/49763546-b91b9580-fcab-11e8-9bd1-9055650bfef0.png">

This command generate file artifact.json on ./dist

[2018-12-10 22:04] galactusss commented on #273
I forgot to add that if we didn't delete artifact.json. The task of `aragon run --http` corresponding to generate artifact.json is skipped if a file exist. So it isn't updated once corrupted

[2018-12-11 14:08] sohkai commented on #273
Super weird... maybe we're not writing the file correctly, or it's something to do with how the `arapp.json`'s `environment` field is added to the boilerplates (I know @perissology added some migration code to the format).

[2018-12-11 15:37] 0x6431346e opened #291 "Conflicting versions of the CLI"
Main issue:
- If you follow the tutorial from `hack.aragon.org`, you are advised to install the CLI globally, currently: `5.2.1`
- If you use `aragon init foo` to start a new project you will get a new copy of the `aragon-react-boilerplate` which comes with a `package-lock.json` pinning the CLI to `5.0.0`. (Note: the other boilerplates, `bare` and `react-kit` don't come with a lockfile)

Now, the

[2018-12-13 21:06] 0x6431346e opened #294 "Currently not possible to use the CLI without initializing an App project"
from @lkngtn:

Currently the CLI throws Error: This directory is not an Aragon project if the Aragon CLI is used outside of an Aragon App Project directory.

Since aragon dao [command] can be used to interact with a DAO which has been deployed on Rinkeby or Mainnet using Frame as a signing provider, It should be possible to deploy a DAO either from the command line or from the onboarding ui, and t

[2018-12-13 21:09] 0x6431346e opened #295 "Token Manager Install Catch-22"
from @lkngtn:

If you setup a local RPC instance and wish to deploy a new token manager into a DAO there is a catch-22. The token manager cannot be initialized unless there is a deployed minime contract with the token manager’s address set as its controller and you cannot deploy the token manager (and get its address) without initializing. 🤷‍♂️

**Allowing the user to deploy applications and then

[2018-12-13 21:23] 0x6431346e opened #296 "Minime Deployment from CLI"
from @lkngtn:

If you want to deploy a token manager app, it depends on having a Minime token. However, there is no option from the CLI in order to deploy this dependency. For a developer who is familiar with deploying arbitrary code this would be a minor annoyance as it would require them to deploy the Minime token separately–but for a power user who understands Aragon Apps but isn’t an experienc

[2018-12-13 21:24] 0x6431346e opened #297 "Permissions are inaccurate"
from @lkngtn:

After installing an app from the CLI the application’s permissions indicate both the applications Roles as having Any Entity set as their Allowed Entities and their Manager.

This is confusing (and inaccurate) as any entity cannot manage the role, and any entity cannot perform the action.

This will be fixed by #287 , #288 or #289

[2018-12-13 21:27] 0x6431346e opened #298 "Permissions cannot be created"
from @lkngtn:

After installing an app from the CLI the permissions must be initialized using `dao acl create [dao] [app] [role] [entity] [manager]` however this command fails when trying to set the `[entity]` and `[manager]` to the the account which the `CREATE_PERMISSIONS_ROLE` with the error `Cannot find transaction path for executing action`.

[2018-12-14 12:39] Quazia opened #299 "[EPIC] Building Custom DAOs"
The end goal is to allow a developer or power user to have all the tools needed to install applications in an existing DAO without needed to leverage kits as a short-term solution in place of the App Center, and to allow for easier development.

In addition once the basic commands needed are added to the CLI we should explore adding scripts to some of the existing aragon apps that leverage these c

[2018-12-14 12:45] Quazia commented on #294
I'm afraid if we rely on options it'll lead to some difficult to enter command strings. We might want to consider if using some sort of prompted mode would make sense for some of these more complicated functionalities of the CLI. I think the best solution, for now, would be the second option, to ship with some basic default configurations and then expand from there.

[2018-12-14 12:58] Quazia commented on #296
I think this should look something like `aragon dao token <TOKENNAME> <DECIMALUNITS> <SYMBOL> <TRANSFERSENABLED> `. Not sure if it would be worth providing default values for some of these and making them optional.

[2018-12-14 13:04] Quazia commented on #295
An alternative to allowing users to deploy the application and initialize separately would be to provide a script option in the install command that would run some application-specific code inbetween the contract deploy and the application initialization.

[2018-12-14 15:35] 0x6431346e opened #300 "Return promises instead of observables"
See https://github.com/aragon/aragon-app-dx/issues/2

Would be nice to add an option when initializing the app and then have promises returned.
[code]
instead of
[code]

[2018-12-14 15:43] 0xGabi opened #301 "Create pre-packaged build of client"
Related to #203

[2018-12-14 15:45] #300 closed

[2018-12-14 15:45] 0x6431346e commented on #300
Issue moved to [aragon/aragon.js #226](https://github.com/aragon/aragon.js/issues/226) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-14 16:34] lkngtn commented on #295
I'm wondering what the advantage here would be as opposed to scripting the cli itself?

[2018-12-14 16:36] lkngtn commented on #298
I believe this may be related to #297 and probably resolved by those same fixes. I think with 297 those permissions are being initialized to 0xFFF.., and because of that it is impossible to create the permissions. Once that issue is fixed I believe this will also go away. 👍

[2018-12-14 16:40] Quazia commented on #295
Yeah, separating it out is a better idea. Daniel suggested we just modify the install command with an option that prevents initialization.

[2018-12-17 02:51] galactusss commented on #290
Workaround in aragon/aragon-react-kit-boilerplate#19. I close it to continue discussion on kit repo

[2018-12-17 02:51] #290 closed

[2018-12-17 03:53] galactusss commented on #285
Temporary fix
[code]

[2018-12-18 08:10] sohkai commented on #274
@galactusss @0x6431346e It looks like with the newest [ganache-core@2.3.2](https://github.com/trufflesuite/ganache-core/releases/tag/v2.3.2) the snapshot regression should be fixed. We should try unpinning and making sure everything works :).

[2018-12-18 10:38] bingen commented on #274
Oh, I just pushed PR #302 but I still want to test it thoroughly. You can give it try though.

[2018-12-19 13:36] 0x6431346e commented on #297
#### Short-term solution:
#289 and #288 proposes we don't set permissions, possibly check the roles and throw when the app does not have any roles. This would be the safest and easiest, but not the nicest.

This is already possible with the `--set-permissions false` flag, introduced in #270
 E.g.:
- `dao create new` -> Created DAO: `0x5b6a3301a67A4bfda9D3a528CaD34cac6e7F8070`
- `dao install 0x5b6a

[2018-12-19 14:14] 0x6431346e commented on #297
#### Long-term solution:
Installing the app and setting the "correct" permissions:

Current situation:
`dao install 0x5b6a3301a67A4bfda9D3a528CaD34cac6e7F8070 foo.aragonpm.eth`
results in:
- any account can increment/decrement
- any account is manager (cannot be changed, also dangerous for production)

#287 proposes that we install apps with "open" permissions and no manager.
E.g.: If you install

[2018-12-19 15:56] galactusss commented on #274
I tested all the steps on the tutorial and it seem the error was fixed with #302 PR
should close this? Or you want to test a bit more before @bingen @0x6431346e

[2018-12-19 18:17] lkngtn commented on #297
If it's possible to retrieve the instance address from the CLI as a minor (and quick improvement), the fact that it is two separate steps is not a huge deal as it adds negligible complexity when scripting (or providing a user with a sequence of commands to run).

Since #287 could be merged now and would unblock the permissions issue (without needing to workaround the issue using etherscan), I agre

[2018-12-19 20:54] bingen commented on #297
Yes, I agree too!

Yes, indeed.

[2018-12-20 10:48] #274 closed

[2018-12-20 10:48] bingen commented on #274
It's fine for me if you tested it. I just merged #302. Thanks @galactusss !

[2018-12-20 22:58] galactusss commented on #273
Will be solve when this PR merge https://github.com/aragon/aragon-react-kit-boilerplate/pull/21

[2018-12-20 23:04] galactusss commented on #285
Will be solve when this PR merge aragon/aragon-react-kit-boilerplate#21

[2018-12-20 23:11] #273 closed

[2018-12-21 20:42] bingen opened #306 "`aragon dao install` fails with "replacement transaction underpriced""
Reported by @eduadiez
It seems the problem is that [here](https://github.com/aragon/aragon-cli/blob/82e15ddd3b66d577e7a5d1e5cbaa9bffd7776cab/src/commands/dao_cmds/install.js#L30) two transactions are sent more or less simultaneously, so with the same nonce. Solution would be to send the transactions sequentially.

[2018-12-22 03:10] #285 closed

[2018-12-23 18:37] stefek99 opened #307 "Cannot read property 'map' of undefined - how to run the app without redeploying?"
https://hack.aragon.org/docs/cli-usage.html

Everytime I run `npm run start` it is deploying everything. That is correct, that is what the documentation says:

That is why I run `aragon run --http localhost:8001 --http-served-from ./dist`

That is getting me some error:

[code]

Can you please advise how to fix it?

The reason why I do not want redeployment is that I've already added permission to

[2018-12-24 19:03] stefek99 commented on #307
Cool, thanks, it kind of works...

See the video: https://youtu.be/67FPgCCTiPc

It is redeploying the contracts, the DAO address is new between restarts, maybe it is by design, thanks anyway.

[2018-12-27 18:37] galactusss commented on #307
@stefek99 I close this issue cause this error is fixed.

About your question there are several things:
1. When you execute `aragon run` you delpoy your dao to a local devchain, except you use the option --reset this information are store.
2. If you only want to make changes on your app you should run `npm run start:app` and this will hot reload your changes on http://localhost:8001
3. If you want

[2018-12-27 18:37] #307 closed

[2018-12-28 22:15] galactusss commented on #301
To solve this issue my plan is:
1. Create a build from the last version of the [client](https://github.com/aragon/aragon)
2. Publish it to ipfs
3. Edit the Open DAO [task](https://github.com/aragon/aragon-cli/blob/master/src/commands/run.js#L248) of aragon run command. This task will:
  3.1 Download from ipfs the pre-build client
  3.2 Omit the task if a pre-build already exist
  3.3 Start the cli

[2018-12-29 10:27] 0x6431346e opened #308 "aragon run add error messaging if you try to use a network other than local rpc"
[code]

[2018-12-29 13:51] galactusss commented on #275
My plan for solving this issue:
1. I'll change init.js command: `init <name> [template]` for `create-aragon-app <name> <boilerplate>`
2. I'll create an alias for aragon create-aragon-app to make it fully command line
  2.1. Add create-aragon-app on .aliases
  2.2. Update pckage.json:
[code]

@0x6431346e, @sohkai What do you think?

[2018-12-29 14:10] 0x6431346e commented on #275
The init command needs to be extracted in it's own repo, completely separated from the cli and published as a npm package called `create-aragon-app`.
This package can use yargs just like the cli and export a binary called `create-aragon-app` like you mentioned in 2.2.

Otherwise the user would still need to install the cli globally to use it

[2018-12-29 14:36] galactusss commented on #275
Great, I wasn't sure about that. Thank you Daniel

[2018-12-29 15:12] 0x6431346e opened #309 "dao install needs a better error message if permission is missing"
[code]

and if I try to run [these createPermission calls](https://github.com/aragon/aragon-cli/blob/master/src/commands/dao_cmds/install.js#L30) sequentially, I get:
[code]
Any ideas? :cry:

Version: 5.2.2

[2018-12-29 15:43] 0x6431346e opened #310 "apm publish minor/patch has unclear usage"
I'm trying to deploy a **minor** version of the **contract**:
[code]
Doing ` aragon apm publish minor --environment staging` works, but the contract is not re-deployed.
Doing ` aragon apm publish minor CounterApp --environment staging` gives:
[code]
Same goes for `patch`. From what I can tell `minor` and `patch` only work for publishing the frontend. Is this by design?

[2018-12-29 21:07] galactusss commented on #275
I created a repo on my repositories: https://github.com/galactusss/create-aragon-app
I also published the package on npm: https://www.npmjs.com/package/create-aragon-app

In this case we should create a new repo on aragon @sohkai?

[2018-12-30 00:30] galactusss commented on #275
TODO:

- [ ] Remove `aragon init` from cli

- [ ] Update documentation

[2018-12-30 01:21] #130 closed

[2018-12-30 13:18] 0xGabi opened #311 "Avoid deploying a new dao instance every time on 'aragon run'"
`aragon run` would be faster if it did not redeploy a new dao when the content or contracts haven't changed.

Reported on #307

[2018-12-31 13:48] 0x6431346e commented on #301
Having this on IPFS would be awesome! some things to note though: we need to
- automate step 1 and 2 through github actions
- pin the bundle to Aragon's IPFS node (https://ipfs.eth.aragon.network/ipfs) to make sure at least 1 peer has this file
- serve the client with [a simple server](https://www.npmjs.com/package/serve), not the ipfs gateway (see  https://twitter.com/izqui9/status/10616029026938

[2018-12-31 14:46] galactusss commented on #301
Thanks for you answer Daniel it make a lot more sense now

@0x6431346e I have a last question concerning the process of serve the client. Right now you need to run `npm run start:local` this will execute a script that init the local env, copy the aragon-ui components to ./build and use parcel to serve the cliente with:

[code]

This will start a server on http://localhost:3000 and build the app

I

[2018-12-31 14:58] galactusss commented on #275
I'll create a repo under AragonDAC here: https://github.com/AragonDAC/create-aragon-app

[2018-12-31 16:03] 0x6431346e commented on #301
We need to support environment variables such as ENS registry, network, port, etc. I'm not sure if we can reuse those scripts or write a new one. 🤔
The idea would be to not need to install any npm dependencies or to compile the project.

[2019-01-01 19:42] johnlenin00 commented on #89
submitted pull request please take a look

[2019-01-02 22:49] PJColombo opened #316 "Can't install @aragon/cli"

[2019-01-03 01:41] #316 closed

[2019-01-03 02:36] PJColombo opened #317 "Problems trying to run aragon app (npm run start:local)"
I created an aragon app following the tutorial. When I try to run it  using

`aragon run`

I get this (I try to delete the ~/.aragon directory but I'm still getting the error):

` Opening http://localhost:3000/#/0xF5752896F514DaA719deB22657e593565F586BBe to view your DAO
(node:13072) UnhandledPromiseRejectionWarning: Error: Error: Command failed: npm run start:local
"scripts" no se reconoce como u

[2019-01-03 23:23] 0xGabi opened #319 "Monorepo structure"
Change the structure of Aragon CLI to be a monorepo.

Kick off discussion: https://github.com/AragonDAC/create-aragon-app/issues/1

TODO:
- [ ] dao-cmds
- [ ] apm-cmds
- [ ] Ipfs-cmds

[2019-01-04 09:54] osarrouy commented on #319
Hey @galactusss

I'm not sure about Aragen cause i've not dived into its code yet but doesn't it introduce some cyclic dependencies ? Not sure about that. Otherwise i think it makes sense to introduce it in the monorepo as all the CLI related tools will rely on it.

Regarding the monorepo structure i'm not sure either - lots of doubts this morning ;) I definitely find the second version cleaner an

[2019-01-04 14:03] 0x6431346e opened #320 "Improve argument type coercing by inspecting the ABI"
When trying to create a new dao from a `multisig-kit`, we need to call `newTokenAndInstance` with
[code]
Note that signers here needs to be an array, so this won't work:

[code]

This won't work either:
[code]
because signers is still a string:
[code]

We could do some parsing similar to [yargs/docs/tricks](https://github.com/yargs/yargs/blob/master/docs/tricks.md), i.e.:
- if `JSON.parse(arg)` wo

[2019-01-04 14:17] 0x6431346e opened #321 "Cannot create dao with ganache-core@2.3"
Doing `aragon dao new` on `master` gets stuck after sending the transaction:
[code]
This works fine with `v5.2.2`.
Looking at the [diff](https://github.com/aragon/aragon-cli/compare/v5.2.2...master) I suspect is because of #302 . Maybe aragen needs to be rebuilt?

[2019-01-04 17:02] #237 closed

[2019-01-04 17:14] 0x6431346e opened #322 "Check for updates"
Whenever you run a CLI command (or every x amount of hours), check for newer versions, and warn the user to upgrade.

Example from `npm`:
![image](https://user-images.githubusercontent.com/26041347/50700962-b450c400-1054-11e9-8b22-880e60f41a6e.png)

[2019-01-04 17:19] #291 closed

[2019-01-04 17:56] galactusss commented on #291
Close with [create-aragon-app]( https://github.com/AragonDAC/create-aragon-app). We will create a monorepo with this package and the current cli.

Relevant improvement move to: https://github.com/aragon/aragon-cli/issues/322

[2019-01-04 18:01] galactusss commented on #321
In case aragen is rebuild would be great opportunity to include the changes needed to solve: https://github.com/aragon/aragon-cli/pull/246

[2019-01-04 18:35] galactusss commented on #319
Thank you for the feedback. I read the same thing, others bumped into problems with an structure similar to the second. Also, 0x have a bunch of package and they are using the first one. So I will go with the first structure.

I did mock a first basic example in my repo [aragonCLI](https://github.com/galactusss/aragonCLI). I would like to refactor first at something like this. I'm c

[2019-01-04 22:10] PJColombo commented on #317
Same problem @galactusss

`
C:\Users\USUARIO\Documents\GitHub\aragon>npx create-aragon-app testing.aragonpm.eth react
npx: installed 1 in 4.125s
Path must be a string. Received undefined
npx: installed 124 in 27.791s
C:\Users\USUARIO\AppData\Roaming\npm-cache\_npx\3732\node_modules\create-aragon-app\dist\cli.js
 √ Preparing initialization
 √ Cloning app template
 √ Preparing template
 √ Installing

[2019-01-04 23:07] galactusss commented on #317
Oh @PJColombo I just notice that you are running on a Windows PC. Unfortunately unless you want to refactor the shell script to [be in node](https://github.com/aragon/aragon/blob/master/scripts/launch-local.sh) is not supported.

If you have the chance to run a virtual matching with linux I recommend that insteed.

I close this cause is not an issue.

[2019-01-04 23:07] #317 closed

[2019-01-04 23:11] PJColombo commented on #317
@galactusss

I don't get it, I recall creating an aragon app following the tutorial  step by step with no problem months ago

[2019-01-04 23:38] galactusss commented on #317
We use a shell script to launch the local Aragon client but this should be changed to be a node script. Something like [this](https://github.com/joejordan/aragon/commit/4557f3f58be7df362489febe61b07867903647e7)

[2019-01-04 23:49] PJColombo commented on #317
I'll use a virtual machine then

Thanks for your help tho 👍

[2019-01-05 03:34] 0xGabi opened #324 "Create monorepo structure on aragon-cli"
Include aragon-cli and [create-aragon-app](https://github.com/AragonDAC/create-aragon-app) as packages.

[2019-01-05 03:39] 0xGabi opened #326 "Create new package for dao commands in monorepo structure"

[2019-01-05 03:39] 0xGabi opened #327 "Create new package for apm commands in monorepo structure"

[2019-01-05 13:16] galactusss commented on #275
Close with #323 and [create-aragon-app](https://github.com/AragonDAC/create-aragon-app) published on npm

[2019-01-05 13:16] #275 closed

[2019-01-06 02:03] PJColombo opened #328 "Problem installing dependencies @aragon/cli (node-gyp rebuild)"
I'm using debian 9.6.0 on a virtual machine when I run `npm install -g @aragon/cli` I get this (there's some problem when executing node-gyp rebuild):

`> keccak@1.4.0 rebuild /home/paulo/.nvm/versions/node/v11.6.0/lib/node_modules/@aragon/cli/node_modules/ganache-core/node_modules/keccak

make: Entering directory '/home/paulo/.nvm/versions/node/v11.6.0/lib/node_modules/@aragon/cli/node_modules/ga

[2019-01-08 08:14] johnlenin00 commented on #89
@izqui  have you check the PR I submit?

[2019-01-08 15:13] 0x6431346e commented on #297
@sohkai awesome idea!

One question though: are the role parameters something to be concerned about?
[code]
Are these set when creating permissions?

[2019-01-08 15:31] 0x6431346e commented on #286
Closing in favor of https://github.com/aragon/aragon-cli/issues/298

[2019-01-08 15:46] #137 closed

[2019-01-08 15:56] galactusss commented on #328
Hi @PJColombo If I remember correctly [this solution](https://github.com/nodejs/node-gyp/wiki/Updating-npm%27s-bundled-node-gyp) might help you

[2019-01-09 07:55] sohkai commented on #310
Yes, aragonPM only allows `major` upgrades to include contract upgrades. We should definitely fix the error messaging on this.

I believe it's detects `minor` and `patch` versions right now to skip contract deployment but I may be wrong cc @izqui.

[2019-01-09 08:05] sohkai commented on #309
Which organization is this? And what do its permissions look like?

It looks like for now there's no transaction pathing included in the `createPermission()` calls, so you're only able to successfully complete this action if the sender has the permission to create permissions (usually the creator of the organization).

Not quite sure why this didn't include transaction pathing in the first place (

[2019-01-09 17:21] 0xGabi opened #331 "Testing: Improvements"
Extract individual tasks from TaskList and add unit testing.

TODO:

- [ ] Add functional testing https://github.com/aragon/aragon-cli/issues/93

- [ ] Continue [refactor](https://github.com/aragon/aragon-cli/pull/168) for rest of the commands

[2019-01-09 22:56] autonome opened #333 "Don't use already open port"
Aragon ran on port 3000 even though I already had something running on that port.

It should check to see if there's anything on the port first, before picking which to use.

[2019-01-10 08:35] 0x6431346e commented on #309
@sohkai Oh ok...I was pretty sure `0xb4124cEB3451635DAcedd11767f004d8a28c6eE7` has the "Create permissions" role, not just "Manage apps". Thanks!

I will keep this open for a bit while I add a better error message.

As for transactions pathing that is not yet in place. (it for `dao intall` and `dao upgrade` ,but not for `createPermission`)

[2019-01-10 08:39] 0x6431346e commented on #310
@sohkai Alright, cool!

It's a bit weird tbh, but at least it's the intended behavior.

Let's keep this issue open and re-purpose it to add a better error message.

[2019-01-10 23:43] sohkai commented on #310
Agreed, I think it's mostly confusing because we don't really explain the "semver" semantics anywhere else but https://hack.aragon.org/docs/apm-ref.html#repo.

We designed these "major" versions so that they would be signed to users as potentially dangerous (due to the underlying contract upgrade).

[2019-01-10 23:50] sohkai commented on #328
I've been seeing this issue as well recently, but I've only seen it on macOS machines without xcode installed and running `npm@5`.

It seems you should be on `npm@6` (unless you manually installed `npm@5`), so it's likely related to something else. Looking at the error log, it looks like you probably need to install some compilers:

[code]

[2019-01-10 23:58] sohkai commented on #297
Eventually, but right now I wouldn't worry about supporting them in a first go. The "interactive" mode (and maybe "installer") could both be extended to also ask for any parameter-based limitations for the permissions it assigns (see [parameter docs](https://hack.aragon.org/docs/aragonos-ref.html#parameter-interpretation)).

[2019-01-11 00:12] sohkai commented on #319
I think it might get harder to clone the boilerplates if we included it in a monorepo (don't think it's easy to only clone a particular directory from a repo), so I'd probably leave them out.

aragen would make sense to include in the repo, however its problem is that it has a fairly involved installation phase as well an automated release strategy through merges to master. If we do move it, I'd d

[2019-01-11 00:48] sohkai commented on #308
I think `aragon run` was definitely designed to only be run on a local network, due to how many transactions it might make and how long it would take to mine them. Maybe we can add some error messaging if you try to use a different network?

[2019-01-11 00:50] sohkai commented on #227
@0x6431346e are those related to #320?

This should be working with the latest aragen.

[2019-01-11 01:01] sohkai commented on #294
An option could be to install the CLI with a default configuration in `~/.aragon/networkConfig.json` (or etc)  and then use those if no truffle config is found in the path moving upwards to `~` (very similar to how tools like ESLint and etc. operate).

It'd be especially nice if it could tell you which networks were available at any given context as well as its configuration values.

[2019-01-11 01:05] sohkai commented on #321
@0x6431346e could you double check by pinning ganache-core to the old version and seeing if it still works?

We should bump the version of ganache in aragen and release it with https://github.com/aragon/aragen/pull/24.

[2019-01-11 15:31] 0x6431346e commented on #286
Actually not related to #298

[2019-01-11 15:32] 0x6431346e commented on #298
You're right, it should be fixed now.

[2019-01-11 15:32] #298 closed

[2019-01-13 10:18] 0x6431346e commented on #321
@sohkai It works with pinning the old version.

[2019-01-13 10:31] 0x6431346e opened #337 "More options for setting permissions"
When installing an app with `dao install <dao> <app>` it will be cool to also have the options:
- `--set-permissions installer`: the executor of the installation (e.g. voting app)
- `--set-permissions interactive`: CLI prompts for each role for an address to use, [yargs-interactive](https://www.npmjs.com/package/yargs-interactive) could be used for this

Right now you can only set them to open or

[2019-01-13 10:34] 0x6431346e commented on #297
I created https://github.com/aragon/aragon-cli/issues/337 for the `installer` and `interactive` options.
The safe default and `open` option is implemented in #334.

[2019-01-13 10:34] #297 closed

[2019-01-13 15:51] 0x6431346e commented on #295
Looks like this is already possible with the `--app-init none` flag.

Installing a TokenManager on rinkeby:
1. Create a minime token: `dao token <name> <symbol> --environment staging` , depends on #335
2. Install the app without initializing:
`dao install <dao> token-manager --environment staging --app-init none`
If you have the `Manage apps` permission it will get installed immediately:
[code]
ot

[2019-01-14 03:13] galactusss commented on #321
@sohkai , @0x6431346e I bump the version of ganache on aragon/aragen#24 then I tested aragonCLI locally doing `npm link` to the updated aragen branch...but I'm still getting this bug. Not sure if there are other changes I need to do to replicate the new aragen release

[2019-01-15 02:04] sohkai commented on #321
@galactusss You'd have to copy the snapshot that gets generated by aragen into the appropriate ~/.aragon folder.

This definitely seems like a really good reason to bump aragen now :+1:.

[2019-01-15 02:12] sohkai commented on #295
Could this be highlighted with `dao apps` somehow (looking through etherscan would be pretty tedious)?

[2019-01-15 16:41] 0x6431346e commented on #295
Opened #340 to allow checking apps without permissions

[2019-01-16 05:31] galactusss commented on #328
I close this issue. Isn't a problem with `aragonCLI`. More related to how setup `node-gyp`

[2019-01-16 05:31] #328 closed

[2019-01-16 08:46] #296 closed

[2019-01-16 10:52] 0x6431346e commented on #227
@sohkai Probably, but it should work at least with `aragon/aragon`, but now it gets:
`Error: Could not fetch ABI for template 'multisig'
    at Object.newDAO (index.js:104)`

In `aragon.js` we have this piece of code:
[code]
And in the CLI we have this workaround, in `dao new`:
[code]

Looking into it a bit more, I can see `apm versions` returns:
[code]

[code]

I guess the kits contents are not a

[2019-01-17 01:58] sohkai commented on #227
Very odd... will try to take a look at this and get a handle on aragen. It's likely we need to add those `ipfsCache` files to a local IPFS daemon or something (so they can be resolved).

[2019-01-17 02:02] sohkai commented on #321
I've renamed this issue so we can keep this open as we try to upgrade aragen to ganache-core@2.3 to see if this is still an issue.

[2019-01-17 13:21] #286 closed

[2019-01-17 15:21] #299 closed

[2019-01-18 09:56] 0x6431346e opened #344 "Able to install non-app with `dao acl create`"
**Describe the bug**
App install went wrong:
[code]
Now it's stuck at _Loading apps..._
**Mainnet or testnet?**
Rinkeby

**Organization**
https://rinkeby.aragon.org/#/showcase.aragonid.eth/

**To Reproduce**
Can't really tell, but there is a stack trace in the console.

**Expected behavior**
Load the apps even if one of them is faulty.

**Additional context**
[code]

[2019-01-18 20:24] lkngtn opened #346 "dao new fails due to gasLimit on mainnet and rinkeby"
[code]

It should be possible to deploy a bare organization within the gas limit.

[2019-01-18 20:26] lkngtn opened #347 "Claiming an aragonid"
Not sure if this belongs in the CLI, but currently if you create and deploy an organization with the CLI you are not able to claim an aragonid as you would if creating an organization using the standard onboarding process.

It would be nice if organization created using the CLI could be accessed in the same way (eg  mainnet.aragon.org/#/[id].aragonid.eth

[2019-01-18 23:27] ottodevs opened #348 "Document aragon publish command on how to publish just "dist" folder to ipfs instead of the whole project"
The title is just self explanatory, but here are some proofs of that:
https://ipfs.eth.aragon.network/ipfs/Qmb4PuxVRwE9ZNMrRqaz2rk6yRtRxxHiNUMrT8u23VUJD7
https://ipfs.eth.aragon.network/ipfs/QmaYZUv2SVzjTMCPbEkGW4DppkqC71SHR5kDcQ71R5JXyH
https://ipfs.eth.aragon.network/ipfs/QmULX5QS7xLAmAYqfWcSJXZ8Hwyoi38dKhjmbUZM9pvhaD

If that is the expected behavior, then I think it is not really efficient, I

[2019-01-18 23:30] ottodevs opened #349 "aragon ipfs command use is obscure and undocumented"
What are the benefits against just using the regular ipfs command? What is it doing internally? It should have some documentation, even if the developer should not trust and be responsible of checking the code to know what is exactly doing.

[2019-01-19 10:56] 0x6431346e commented on #346
I can confirm, I tried the following change, but now is stuck on "Creating DAO from kit"
[code]

Possible useful information, gas is estimated at:
- rinkeby: 1737713
- devchain: 1786988

I also tried with 2737713 on rinkeby, no luck.

[2019-01-19 17:01] lkngtn commented on #346
Mainnet appeared to work with 7e6, and while not consistent, @bingen was able to deploy to rinkeby with `dao new` using 6e6: https://aragon.chat/channel/dev-help?msg=Rx8fAqexcdD4nqMuQ

[2019-01-19 22:32] lkngtn opened #350 ""gas required exceeds allowance or always failing transaction" when calling dao acl grant"
I was attempting to clean up permissions in an organization on rinkeby using `dao acl grant` and got  the following error:

[code]

When performing  this same operation from the UI through the permission app, I do not see the error, so this can be worked around by using the UI but not sure why it would fail here.

`dao acl grant` seems to work for other permissions, but consistently gets that erro

[2019-01-19 23:21] lkngtn commented on #346
I tried changing  to 5e6, it still hangs on `dao new` but if you wait a bit, then cancel the transaction, you can see that the transaction goes through successfully and you can examine it to find the dao address.

I'm not sure what the gas should be set, or why the CLI hangs and doesnt detect it as a success though.

[2019-01-20 15:56] lkngtn commented on #347
It looks like we could interact with aragonid directly

https://etherscan.io/tx/0xa8dccbdc3a29229f3b6fa87889cbae7a4131861d033a3fca3e1e6ade2841c05b

- subnode is the keccak256 hash of the name you want
- owner should be the kernel addr

cc: @izqui

[2019-01-22 11:21] luisivan commented on #347
+1, this should be built into the CLI, seems like a quick win

[2019-01-22 11:43] luisivan opened #353 "dao new has hardcoded gas price"
Was creating a $10 DAO because of the hardcoded gas price, by using `dao new`. There should be a way to change gas price

[2019-01-22 16:44] stellarmagnet commented on #346
@lkngtn can you explain what file we need to dig into to change the gas limit?

[2019-01-22 17:02] lkngtn commented on #353
Related/duplicate of #346 ?

[2019-01-22 17:03] lkngtn commented on #346
https://github.com/aragon/aragon-cli/blob/dfd6caaebf63b0a8523ec93b8260b79147cd39e5/src/commands/dao_cmds/new.js#L105

[2019-01-22 17:06] luisivan commented on #353
Seems related more than a duplicate, thanks

[2019-01-22 17:36] stellarmagnet commented on #346
where is that file located on my machine? I only see it inside application
folders, and i dont have the token manager app locally. i didnt think i
needed to?
ᐧ

On Tue, Jan 22, 2019 at 9:03 AM Luke Duncan <notifications@github.com>
wrote:

[2019-01-22 18:22] lkngtn commented on #346
you'll need to clone the repo:

`git clone https://github.com/aragon/aragon-cli.git`

then you can find the file in the repo and make the change.

then compile and link by running these commands from the repo directory:

`npm install`
`npm link`

disclaimer: I don't know npm that well so their may be a better way to do that, but was able to get it working that way.

Also even with that fix it the

[2019-01-25 13:55] 0x6431346e commented on #344
More details here: https://github.com/aragon/aragon/issues/577

[2019-01-30 03:02] ryan-shea commented on #89
hey @johnlenin00, ryan from gitcoin here. any updates ?

[2019-01-30 03:33] ryan-shea commented on #135
@saurav-malani any updates here?

[2019-02-03 22:16] bingen opened #355 "Avoid using ~/.aragon, use XDG Base Directory Specification instead"
See: https://0x46.net/thoughts/2019/02/01/dotfile-madness/

[2019-02-06 09:27] sohkai commented on #135
@ryan-shea This bounty should be closed or award to @0xGabi instead (see 65da26f).

[2019-02-06 09:53] sohkai commented on #349
[It is documented](https://hack.aragon.org/docs/cli-usage.html#aragon-ipfs), but perhaps we could add a few more details to it?

Running `aragon ipfs` basically sets some configuration details to be compatible with aragonCLI and then adds some required files from the local chain so it doesn't have to try and fetch them over the network.

[2019-02-06 09:58] sohkai commented on #348
It's hard for the tool to know how you'd like to set up your published directory, so a safe default is to publish the entire directory. We could probably add some more [documentation to the command](https://hack.aragon.org/docs/cli-usage.html#aragon-apm-publish) about its default behaviour and what recommended usage is.

You can target a particular directory to publish, using `--files` (e.g. we al

[2019-02-06 10:18] sohkai commented on #344
The immediate error is actually an issue with aragon.js: https://github.com/aragon/aragon.js/pull/236.

However, I'm not sure what we should do in this case, outside of https://github.com/aragon/aragon/issues/577's suggestion to add more validation to the CLI:

Will discuss in https://github.com/aragon/aragon/issues/577.

[2019-02-06 10:27] sohkai commented on #89
@ryan-shea Currently blocked, but will be merged as soon as #248 is.

[2019-02-08 11:09] sohkai opened #357 "Reusing artifacts on apm publish should sanity check artifact"
It should ensure that the network, repo name, as well as contract path are still correct and warn the user that it can't reuse an existing one due to mismatches.

[2019-02-09 13:52] 0x6431346e opened #358 "E2E tests with sharness"
The CLI can break unexpectedly due to external dependencies (like https://github.com/aragon/aragon-cli/issues/274 and https://github.com/aragon/aragon-cli/issues/215) or changes in the environment (node/os).

Library: [sharness](https://github.com/chriscool/sharness)
Examples: [ipfs-sharness-tests](https://github.com/ipfs/ipfs-sharness-tests)

Note: There is huge value in having this set up, and t

[2019-02-11 14:16] sohkai commented on #347
@lkngtn Yes, you can interact with the `aragonid` registrar directly (see https://github.com/aragon/deployments for the addresses of it on each environment). It operates on a first-in-first-register basis right now.

[2019-02-12 16:51] #346 closed

[2019-02-13 17:51] izqui opened #362 "Allow to skip arapp.json checks in `aragon apm publish`"
Currently `aragon.aragonpm.eth` which is a frontend-only package cannot be published using the CLI as its arapp is lacking both `roles` and `path`, I found this while publishing another contract-less package today.

I think this is a good behavior in general, although we should have a flag (`--skip-arapp-check`) to skip this check and just move forward.

[2019-02-13 18:53] sohkai commented on #362
This has been fixed on master (https://github.com/aragon/aragon-cli/pull/351).

[2019-02-13 18:53] #362 closed

[2019-02-15 05:08] 0xGabi opened #364 "Update documentation"
close #349 , #348

The current documentation is not up to date and there is a more and more demand to include new changes. Also there are lot of information distribute between forum.aragon (like [this great guide](https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507) made by Luke, similar questions answered in aragon.chat, [boilerplates readme](https://github.co

[2019-02-15 11:43] sohkai opened #365 "apm publish should generate code.sol on minor and patch versions as well"
Right now, `code.sol` is only generated on major version changes (i.e. when the contract actually changes).

It would be easier for frontends if each version, including minor and patch versions, had this file so they didn't have to look at the last major version's content to find it.

[2019-02-15 16:20] 0x6431346e opened #367 "Minor issues on windows"
The aliases for dao, apm, etc. don't work.

[code]

The command name in `--help` is `cli.js`:
[code]

Related to https://github.com/aragon/aragon-cli/pull/315/files

[2019-02-16 06:47] izqui opened #369 "`dao exec`, `dao act`: fix support for string, bool and array types in function arguments"
Currently state:

- `string`: even if using quotes, it will just use the first word and interpret everything after a space as a new argument.
- `bool`: i haven't been able to find a value to send a `false` parameter
- `arrays`: 🤷‍♀️

[2019-02-16 10:36] sohkai opened #370 "Analyze role and role params against actual contract usage"
The CLI should warn (perhaps at `apm publish`?) if it detects that the roles set in `arapp.json` don't match those in the contract.

[2019-02-16 14:14] 0x6431346e commented on #369
Related to #320

[2019-02-21 16:23] sohkai opened #372 "aragon dao foo ... doesn't error"
`aragon dao <non-recognized command` seems to just hang.

E.g.

[code]

[2019-02-22 14:58] 0x6431346e opened #373 "Merge default environments if there is an arapp.json"
This issue was funded with **45 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
The CLI should warn you that if you have an `arapp.json` file in your current working directory, the default environments (e.g.: `aragon:rinkeby`) are not available, you can only use what you have in `arapp.json`.

Or,

[2019-02-23 20:08] sohkai commented on #344
@0x6431346e @0xGabi Should we keep this issue open to track the CLI doing validation for non-apps?

[2019-02-24 22:36] scottrepreneur opened #374 "running Aragon in docker for development"
Trying to get Aragon running in a docker instance for development environment abstraction. Will eventually have a dockerfile, but the permissions have been giving me touble. The new cli seems to get further through the run process, but I'm getting a new error.

To recreate and jump into a `nodejs` container: `docker run -it node bash`
* You shouldn't need to install git as the container includes i

[2019-02-25 09:47] izqui opened #375 "dao act: support sending value with execution"
Currently `dao act` always sends 0 ETH in the execution of the action, we should add a `--value` flag for the value ETH amount (not wei, it should be ETH and support up to 18 decimals)

[2019-02-25 11:53] sohkai commented on #374
This looks like an issue with `opn` and us trying to open a browser with the Aragon client through the docker instance.

@scottrepreneur can you see if running `aragon run` with `--no-client` still gives you the error? You'd still need the correct ports to be accessible from docker (I think this would just be `8545` for the ganache node and `8080` for the ipfs gateway).

[2019-02-25 13:28] 0xGabi opened #376 "Migrate tests to node"
We will migrate test from sharness to node. Discussion in https://github.com/aragon/aragon-cli/pull/363

[2019-02-25 13:31] 0xGabi commented on #358
After discussion in #363 we decide to migrate tests to node

[2019-02-25 13:31] #358 closed

[2019-02-25 13:40] 0xGabi commented on #331
Close in favor of #376

[2019-02-25 13:40] #331 closed

[2019-02-25 16:03] scottrepreneur commented on #374
Nice! Can't believe I forgot the ports, thanks @sohkai. I also added port 3000, so I can pull that up in my browser now.

It's not finding my org, because I think it's looking on the wrong network? I'm having trouble connecting Metamask to that Eth node. The cli output shows this `ws://localhost:8545` but MM is asking for an http/https URI for custom nodes. `URIs require the appropriate HTTP/HTTPS

[2019-02-26 01:26] scottrepreneur commented on #374
actually, this may be an issue with Chrome OS, only. I'm getting this working in a Mac environment.

[2019-02-26 02:17] scottrepreneur commented on #374
There does seem to be an issue deploying the app? I'm registering an Unknown app, but it doesn't appear to cite the permissions correctly. It should be looking for the default CounterApp. It's working for me outside docker on Mac.

<img width="1282" alt="screen shot 2019-02-25 at 7 30 48 pm" src="https://user-images.githubusercontent.com/1778380/53382449-0a960100-393a-11e9-945c-2ad30d912a0b.png">

[2019-02-26 12:10] 0x6431346e opened #377 "Ensure core apps that are shipped are cached by aragon ipfs"
There was(?) this issue on #dev-help:

[code]

We should make sure ipfs caches all the core apps that have been deployed: https://github.com/aragon/deployments
(including older versions)

We should tweak or allow users to tweak the 10s timeout of apm.js: https://github.com/aragon/apm.js/blob/master/src/index.js#L9

[2019-02-26 13:14] 0x6431346e opened #378 "Nonce too low issue"
From #dev-help, experienced by a couple of users:

[code]

Possible workarounds:
- https://github.com/levelkdev/aragon-cli/commit/0c707948642c09ca68c433942a344c118e0dc355
- https://github.com/levelkdev/aragon-cli/commit/4f472164e995d7a232327c0e31173c407a945315
- "I switched nodes and it was fixed."

[2019-02-26 16:11] sohkai commented on #374
@scottrepreneur Weird, this is likely related to IPFS... are you connected to your `localhost:8080` node? Does your app's `arapp.json` file contain all the roles (e.g. see the CounterApp's: https://github.com/aragon/aragon-react-boilerplate/blob/master/arapp.json#L2)?

[2019-02-27 10:44] sohkai opened #380 "Avoid installing IPFS binary if user has already installed IPFS"
This issue was funded with **120 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
Perhaps instead of using an `npm` dependency, which makes installing the CLI slower, we could only download and install IPFS if we can't find a user-installed IPFS binary the first time we need to use it?

[2019-02-27 10:45] sohkai opened #381 "Gracefully handle IPFS binary being unavailable"
See https://github.com/aragon/aragon-apps/issues/694; IPFS being unavailable blocks installs for users in projects that include `@aragon/cli` as a dependency.

[2019-02-27 12:42] 0x6431346e commented on #381
Any idea of how we could handle this? If we skip it how would the user retry?

[2019-02-27 13:37] 0x6431346e opened #382 "dao act should check the Agent app via the app id"
What do you think about checking this is actually an Agent app via the app id?

_Originally posted by @sohkai in https://github.com/aragon/aragon-cli/pull/356_

[2019-02-27 13:38] sohkai commented on #381
I was thinking we could combine this with #380; if we try to use a command that requires IPFS, and downloading IPFS doesn't work, we tell them that the functionality can't be accessed and they need to install IPFS themselves.

Perhaps this could be done similarly to how we clone and install the client in `aragon run`?

[2019-02-27 13:41] 0x6431346e opened #383 "Don't stop ipfs until it has finished"
can be easily tested by going between this commit and the one before it: https://github.com/AutarkLabs/planning-suite/commit/e3178ebd51c4ac948d7fb06ea4609fe78d506c7d.

_Originally posted by @sohkai in https://github.com/aragon/aragon-cli/pull/360_

[2019-02-27 13:51] 0x6431346e opened #384 "new command: aragon ipfs propagate <hash>"
See the discussion in https://github.com/aragon/hack/pull/95

[2019-02-27 14:16] 0xGabi commented on #378
@0x6431346e we should close this? The problem was fix, it was a problem with Infura node

[2019-02-28 14:58] #324 closed

[2019-02-28 15:12] #378 closed

[2019-02-28 19:44] cslarson opened #387 "Token Manager revert on initialize"
I took the following steps to recreate the issue:

1. `dao new`
1. `dao token new Member MBR 0 false`
1. `dao install [dao-address] token-manager --app-init none`
1. `dao apps --all [dao-address]`  # get token-manager proxy address`
1. `dao token change-controller [token-address] [token-manager-address]`
1. `dao acl create [dao-address] [token-manager-address] MINT_ROLE [my-address] [my-address]`

[2019-02-28 19:46] cslarson commented on #387
alternatively, as an interactive shell script:

[code]

[2019-02-28 20:02] cslarson commented on #387
it does seem to work on rinkeby, though.

[code]

results in:

[code]

[2019-03-01 13:37] sohkai commented on #387
Hmm @0x6431346e @0xGabi are we still using an old version of `aragen` that doesn't have the change in `TokenManager.initialize()`'s interface? I remember we were talking about upgrading it earlier in Jan. (but I didn't get to it 🙁)

[2019-03-01 13:56] 0xGabi commented on #387
@sohkai You are right we didn't update aragen. I can do it 👍

[2019-03-01 18:48] mikehoff opened #388 "apm publish results in: Transaction would not succeed"
I am trying to run
`aragon apm publish major --environment staging
`
with the following result
[code]

not even sure where to start with troubleshooting this? thanks!

[2019-03-02 11:14] sohkai commented on #388
@mikehoff I don't think we have `open.aragonpm.eth` deployed on staging since we use it mostly internally before releasing client builds. However, this is something we should open up, to make the "official" rinkeby one more "official" :).

[2019-03-02 11:15] sohkai commented on #388
Closing for https://github.com/aragon/deployments/issues/54.

[2019-03-02 11:15] #388 closed

[2019-03-02 20:04] DiegoCoyote opened #391 "Unable to use "your first aragon app""
Hi. I’m quite new in this world of blockchain and Aragon apps. In fact, I'm also new in this platform so I may have write this problem in an inappropate place. (Please tell me if I must ask this issue in another place).

I’m using Windows 10, 64 bits home edition. I’ve already installed all the necessary packages and programmes to start with Aragon, but I can’t run the tutorial properly. I mean th

[2019-03-02 22:22] 0x6431346e commented on #391
It's a *very* dangerous security practice to open files from unknown sources as they can contain malware. Please remove this archive.
I'd be happy to assist you in uploading it to GitHub.

[2019-03-03 10:00] DiegoCoyote commented on #391
Hi. Thanks for the warning. I'm ashamed for having published mi first issue in such a bad way...
I have edited the previous comment and deleted the link to the zip file, and deleted that comment. (But I don't know how to delete the file itself).
Please, assist me in getting help. Where and how can I upload the files I want to share to be helped? Should I just copy the files content here? There are

[2019-03-04 10:27] 0x6431346e commented on #391
No problem. It's an opportunity to learn which is nothing to be ashamed of, IMO.

1. Before uploading them to GitHub you would need to [create a public repository](https://help.github.com/en/articles/create-a-repo).
2. When prompted with the Quick setup screen, you can choose to upload files:
![image](https://user-images.githubusercontent.com/26041347/53727292-87fccc80-3e78-11e9-8033-8e0556787a9d.

[2019-03-04 12:55] DiegoCoyote commented on #391
Hi! Thanks for the advice. I've create mi first repository [https://github.com/DiegoCoyote/To-learn-repository](url)
I've uploaded the files, and explained my problem in the "Readme.md" file. But I don't know what to do next to be helped, although I suppose I've to close this thread and wait to be helped. But if there is anything else I have to do, ask for it and I'll do it asap.

[2019-03-05 10:00] #166 closed

[2019-03-05 16:24] 0x6431346e commented on #376
Closed by #390

[2019-03-05 16:24] #376 closed

[2019-03-06 15:06] 0x6431346e opened #392 "Import the aragen package in this repo"
I think it will be easier to maintain and develop if we move it here.

It was mentioned before IIRC, but nonetheless, any thoughts about this? @0xGabi @sohkai @izqui

[2019-03-06 16:52] sohkai commented on #392
Closing for https://github.com/aragon/aragen/issues/29.

[2019-03-06 16:52] #392 closed

[2019-03-07 13:39] sohkai opened #393 "Add schema for manifest.json"
Similar to the `arapp.json`, we should also check that an app has a correct `manifest.json`.

This should be an optional check, so the check should only be triggered if:

- You have a `manifest.json`
- You have an `arapp.json`

We're currently still defining some pieces of the `manifest.json` for the upcoming App Center, but a proper schema will be provided soon. Some of the items will be optional

[2019-03-08 00:21] bpierre commented on #393
First version: https://gist.github.com/bpierre/fd747c2dc3cbd10cabd44c70a7c90edc

[2019-03-10 08:26] 0xGabi opened #395 "Update dependencies"
Remove unused dependencies:

- [x]  `@aragon/templates-beta`

Update:

- [x] `@aragon` packages to new stable versions

Unpin:

- [x] `truffle`

- [x] `yargs`

- [x] `ganache-core` https://github.com/aragon/aragon-cli/issues/321

- [x] `web3` https://github.com/ethereum/web3.js/issues/2800 #354

## Status

#431
- removes `bignumber` which looks like is not used, was introduced [here](https://githu

[2019-03-11 00:21] 0xGabi commented on #364
Achieved in https://github.com/aragon/hack/pull/99

[2019-03-11 00:21] #364 closed

[2019-03-11 00:22] 0xGabi commented on #349
Fixed in #364

[2019-03-11 00:22] #349 closed

[2019-03-11 00:23] 0xGabi commented on #348
Fixed in #364

[2019-03-11 00:23] #348 closed

[2019-03-11 09:54] 0x6431346e opened #396 "Iterate on the `apm packages` command"
It would be safer to get some of the internal packages that APM deploys (like `apm-repo`)

_Originally posted by @izqui in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDI2NDE0OTEyOQ==/comments/review_comment_

Also:

"It would be better to get events just from the initialization block of the registry (which is exposed as the registry is an AragonApp)"

[2019-03-11 10:09] 0x6431346e opened #397 "Iterate on the `apm info` command"
If the hash cannot be fetched by ipfs (not running aragon ipfs or it takes to long to download), we only return this:
[code]
We should warn about not being able to retrieve the content.

This is the full output:
[code]
There isn't an easy way to determine the version of `TokenManager.sol` in order to see the source code, only to take the `compiledAt` timestamp and search through the git history.

[2019-03-11 10:13] 0x6431346e commented on #387
Can't figure this out...and it's proving to be very time-consuming.

I don't think that's the problem because I tried with the old interface, passing an extra `bool` for `_logHolders` and it still fails. Plus, it used to work before.

I think we should address the underlying problems though (I hope this is not blocking you @cslarson ):
1. `Error: VM Exception while processing transaction: revert`

[2019-03-11 10:21] 0x6431346e commented on #388
@sohkai I don't think he was referring to the default [`aragon:staging`](https://github.com/aragon/aragon-cli/blob/master/packages/aragon-cli/config/environments.default.json#L5) environment, but rather the [`staging`](https://github.com/aragon/aragon-react-boilerplate/blob/master/arapp.json#L19) environment that comes with the boilerplate. I can see how this will be causing confusion though...

@

[2019-03-11 10:22] 0x6431346e opened #398 "Better environment names for the boilerplates or the default ones"
See https://github.com/aragon/aragon-cli/issues/388#issuecomment-471482647

[2019-03-11 14:05] cslarson commented on #387
Nope! I had been having issues with deploying locally with my kit but it turned out that was a separate bug. So now I'm deploying locally with a kit (where shell script fails) and using a shell script to do a non-kit deploy to rinkeby (where my kit fails!).

[2019-03-11 15:19] 0x6431346e opened #400 "Add issue templates"
For bugs (see https://github.com/aragon/aragon-cli/issues/391) , questions, features, etc. 🤷‍♂️

Also for PRs would be nice. Just like `aragon.js` we can have a checkbox to remind ourselves to update the docs.

[2019-03-11 15:20] 0x6431346e opened #401 "Document release steps"
And perhaps automate the release with GH Actions.

We should document how the different packages in this repo are released.

[2019-03-11 15:32] 0x6431346e opened #402 "Automate documentation sync"
Just like `aragon.js`, we can keep the docs in this repo to make updates easier, and make a script for `hack` to pull the docs from here: https://github.com/aragon/hack/blob/master/website/scripts/sync-aragonjs-docs.js

We should also take a look at the readme files.

[2019-03-11 16:58] DiegoCoyote commented on #391
Downloaded and executed the fixed tutorial. It runs perfectly. Thanks a lot! Now it's time for me to learn from it.

[2019-03-12 10:01] #391 closed

[2019-03-12 10:03] 0x6431346e commented on #391
Awesome!
Thank you for reporting it!

[2019-03-12 13:27] 0x6431346e commented on #401
Starting point:

[code]

[2019-03-13 00:52] sohkai commented on #387
You may also have some luck with truffle's debugger but may be hard to feed in the ABI. What if you modify the kit so that it doesn't try to install the token manager at all? Does it work?

[2019-03-13 00:54] sohkai commented on #388
@0x6431346e Those two should be the same environment though; @mikehoff's trying to push `soton.open.aragonpm.eth` to an ENS rooted at `0x98df287b6c145399aaa709692c8d308357bc085d` but we don't have `open.aragonpm.eth` registered on that ENS registry.

[2019-03-13 00:56] sohkai commented on #397
Perhaps this is something we could include at publish-time into the artifact.json, and use a git commit hash as well as origin link.

[2019-03-13 13:16] cslarson commented on #387
Thanks @sohkai. Deploying to rinkeby it is failing because the gas used exceeds the block limit. The dao now has 2 tokens managers and 5 separate apps. I haven't managed to or known the best approach for splitting up the (kit) dao init into multiple tx but I would like to do that. For one I think it's cheaper using the kit, but it's also more convenient.

[2019-03-13 18:44] sohkai commented on #387
@cslarson If you're deploying two MiniMe tokens, you will probably want to split it up so that those two tokens are deployed first with one transaction and then the organization is deployed in the second. You can see how we split this up in our beta templates: https://github.com/aragon/dao-kits/blob/master/kits/democracy/contracts/DemocracyKit.sol#L42

[2019-03-14 14:10] 0xGabi commented on #397
I discussed with Daniel to use `sol-compiler` to generate custom artifacts at some point. I have to research more about it but might be useful for this use cases.

[2019-03-14 16:28] cslarson commented on #387
Thanks @sohkai. I'm working to replicate that (with the modification to cache multiple tokens by their symbol).

Am I right that there is no way to call `newToken` using the cli?

[2019-03-15 12:13] 0xGabi commented on #387
Hi @cslarson yes this is possible with the new [`dao token new` command](https://hack.aragon.org/docs/cli-dao-commands#dao-token-new).

Also, this guide about [custom deploy with aragonCLI](https://hack.aragon.org/docs/guides-custom-deploy) might help you.

[2019-03-19 16:08] sohkai opened #404 "Transition to "templates" instead of "kits""
We've settled on using "Templates" as the terminology for what used to be called "kits".

I propose we:

- Deprecate and warn users if they use `--kit`
- Add `--template` instead

[2019-03-19 16:08] sohkai commented on #132
Related to https://github.com/aragon/aragon-cli/issues/227.

[2019-03-19 16:12] sohkai commented on #227
I just realized this is somewhat painful to solve, and the only two options we really have are:

1. Including the ABIs of the kits published on aragen in the CLI itself (maybe easiest?)
1. Using the same content hash for the kit as on a production environment, where we have servers pinning them (may change in the future and become unresolvable).

I'm leaning on 1, since I don't think we should pub

[2019-03-19 18:59] 0x6431346e opened #405 "Tests to measure performance"
For:
- `version` (to see the initial cost of running the aragonCLI, I've noticed that dependencies like @aragen are evaluated when doing this)
- `dao acl` (to see the cost of fetching from previous blocks and calculating the state from event sourcing)
- `dao acl` (to see the benefits of caching) - depends on https://github.com/aragon/aragon.js/issues/81
- some other command that does only one call

[2019-03-21 18:33] 0x6431346e opened #407 "Support permissions with parameters"
This issue was funded with **240 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---

[2019-03-21 18:36] 0x6431346e opened #408 "Support CLI extensions"
Epic to track the planned features in https://forum.aragon.org/t/aragoncli-extensibility/680

Issues:
Feature 1 - https://github.com/aragon/aragon-cli/issues/416

[2019-03-21 19:15] 0x6431346e opened #409 "Iterate on `ipfs propagate`"
- The fetch timeout should be a param
- Ability to edit gateways
- Validation of the CID
- IPFS paths, e.g.: QmP49YSJVhQTySqLDFTzFZPG8atf3CLsQSPDVj3iATQkhC/arapp.json
- `--loop` option to run this command every X sec

[2019-03-23 11:53] 0x6431346e commented on #380
I think users are also kind of "forced" to install the binary themselves if they want to use `ipfs add` or any commands other than `aragon ipfs`

[2019-03-23 12:35] 0x6431346e opened #411 "Node debugger"
Currently I'm using `console.log`s when developing or debugging. 😅
I wonder if it's difficult to set up a node debugger to leverage breakpoints, watching variables, etc., which should speed things up drastically.
Would be great if it works with VS Code and other IDEs we use.

[2019-03-23 12:36] 0x6431346e opened #412 "Code owners"
https://help.github.com/en/articles/about-code-owners

[2019-03-23 12:56] #384 closed

[2019-03-24 10:49] 0x6431346e opened #413 "Customize network id of the devchain"
We should allow users to customize the params of ganache, specifically `network_id` so it plays nice with frame:
[code]

[2019-03-24 21:38] sohkai commented on #412
We actually had a conversation last week about this, and how we should apply it throughout the Aragon project's github organization.

Will keep you posted, but we'll likely be adding this (amongst other recommendations) to most repos :).

[2019-03-24 21:42] sohkai commented on #411
@0x6431346e I've had luck with [NiM](https://chrome.google.com/webstore/detail/nodejs-v8-inspector-manag/gnhhdgbaldcilmgcpfddgdbkhjohddkj?hl=en) and `node --inspect-brk` when running against `dist/cli.js`.

We could guide devs on how to do this, like [how `ava` does](https://github.com/avajs/ava/blob/master/docs/recipes/debugging-with-chrome-devtools.md). `ava` also has tips on how to debug via We

[2019-03-24 21:54] sohkai commented on #412
We actually had a conversation last week about this, and how we should apply it throughout the Aragon project's github organization.

Will keep you posted, but we'll likely be adding this (amongst other recommendations) to most repos :).

[2019-03-25 13:03] #404 closed

[2019-03-25 13:48] 0xGabi opened #415 "Create new package for ipfs-cmds"
Depends on #416

TODO:

- [ ] Unit tests

- [x] e2e tests

[2019-03-25 13:48] 0x6431346e opened #416 "Integrate with CLI extensions"
If one calls `aragon foo <arg1> <arg2>` in the terminal, foo not being a native command, the aragonCLI should look for an `aragon-foo` binary in the path, forward `<arg1> <arg2>` to it, and spawn it into a new process.

[2019-03-25 14:03] 0xGabi opened #417 "Testing roadmap"
Steady process with the objective of improve testing across the repo. The tests will follow the [testing documentation](https://github.com/aragon/aragon-cli/blob/master/docs-internal/Testing.md). Below is a tentative roadmap.

- [x] `create-aragon-app`

- [x] `ipfs-cmds` #415

- [ ] `utils-cmds` (devchain, deploy and contracts)

- [x] `apm-cmds`

- [ ] `dao-cmds`

  - [ ] `token-cmds`

  - [ ] `ac

[2019-03-26 00:24] sohkai commented on #133
Looks like this was done with truffle@5, so it would be a good reason to upgrade to it :+1:.

[2019-03-26 01:06] 0xGabi commented on #133
Related to #395

[2019-03-26 23:17] 0xGabi opened #419 "Provide baseline ABIs bundle with aragonCLI"
### Problem

When users try to interact with their deployed dao using `dao exec` or `dao act` sometimes ABIs of the apps are not available cause `artifact.json` file aren't propagate through IPFS.

Error displayed:
[code]

### Quick fix

Right now a quick fix is to pin the `artifact.json` manually in some gateway (e.g. IPFS, Aragon node) or use the new command `ipfs propagate`.

### Long term solu

[2019-03-27 15:13] #402 closed

[2019-03-27 15:24] sohkai commented on #419
We can use this ABI:

[code]

Which is just `AragonApp` and `AppProxyBase` combined without the duplicates. We could also filter out the events, since they're probably not useful.

[2019-04-01 20:07] 0xGabi opened #421 "Include infura:{network} environments"
This issue was funded with **75 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
Start using `aragon:local` as default environment. We need to update the environment middleware.

[2019-04-02 09:43] 0x6431346e commented on #421
I can't tell if it makes more sense to rename `aragon:local` to `default` or the other way around. 🤔

I've prepended `aragon:` because `wsRPC` points to our public aragon node and the `registry` points to the "official" deployment that we support. But I can see the signing node points to infura. Maybe we can move from `https://${network}.infura.io` to `https://${network}.eth.aragon.network/`.

If

[2019-04-03 15:34] 0xGabi commented on #421
I like the more general option. This allow to further extend to more environments, similar to npm namespaces.

[2019-04-06 06:27] 0x6431346e opened #427 "Solidity parser ignore @notice strings on modifiers"
This issue was funded with **75 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
Example:
[code]
Currently, it throws: `→ Cannot read property '1' of null`

https://github.com/aragon/aragon-cli/blob/3cf24ad0f2b7d7cfce20dc2a7f4c39cfc32a0035/packages/aragon-cli/src/helpers/solidity-extractor.js#L18

W

[2019-04-09 15:59] #89 closed

[2019-04-09 16:05] 0xGabi commented on #89
@ryan-shea I closed this issue  but the contribution was from @johnlenin00

I only update the commit to our new monorepo structure.

[2019-04-11 09:22] sohkai opened #430 "Automatically run `prepublish` or `prepublishOnly` scripts on `aragon apm publish`"
This issue was funded with **75 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
## 🚀 Feature

Would be great if an Aragon project could either share its npm publish hooks with `apm publish`, or have another script declared (e.g. `apm-prepublish`) that would be run automatically.

A lot of projects

[2019-04-14 09:34] 0x6431346e commented on #419
This doesn't quite work for me, it gets stuck at `Fetch the links`.
The `propagate` command works best when you have the file pinned locally.

Why does bundling `AragonApp` and `AppProxyBase` ABIs help in this case? Won't the `wrapper` still not be able to find the transaction path if let's say I want to call `Vault#transfer` ?
Or do you mean bundle the ABIs of `aragon-apps` as well?

[2019-04-14 10:04] 0x6431346e commented on #419
This will only work for `aragon-apps`, we should figure out why the fetching of the artifact fails and instead of bundling ABIs in the `@aragon/cli` we can probably add more artifacts to `aragen-cache`.

My suspicion is that our local nodes cannot connect to `https://ipfs.eth.aragon.network/` because when I query the gateway, I can get the artifact pretty quickly.
E.g.: `https://ipfs.eth.aragon.ne

[2019-04-16 18:07] 0xGabi opened #435 "Iterate on `dao act`"
## 🚀 Feature

Add an optional argument to provide the ETH value for the execution

[2019-04-17 12:26] 0x6431346e commented on #435
Duplicate of #375

[2019-04-17 12:26] #435 closed

[2019-04-19 13:15] ottodevs commented on #320
Does it make sense to add a param for `dao new` like: `--config-file` to pass a json with the needed array params?

[2019-04-20 03:39] MidnightLightning opened #441 "Move off of deprecated @aragon/messenger"
This issue was funded with **45 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
## 🐛 Bug Report

When installing `aragon-cli` via `npm install -g @aragon/cli`, there is a deprecation warning that appears:

[code]

The `@aragon/messenger`/`@aragon/rpc-messenger` library is from this same team, so ha

[2019-04-20 03:41] MidnightLightning commented on #374
I'm jumping in trying to start Aragon development using Docker containers as well, and ran across these same issues.

Me too; I see errors like the following when running `npm i -g @aragon/cli` inside a Docker container:
[code]

The "unsafe permission" flag worked for me to resolve that issue.

[2019-04-21 12:25] 0x6431346e commented on #441
I think the breaking change here (besides the naming) is that it now uses `rxjs@6`, so we need to upgrade to that syntax as well.

Would you like to tackle this issue an open a PR?

We could definitely use some help and we plan on adding bounties to a bunch of issues soon!

[2019-04-22 09:06] 0x6431346e commented on #320
That should work! Perhaps calling it `--fn-args-file` instead?

At least as an interim solution before we implement proper parsing of the arguments.

[2019-04-22 15:29] MidnightLightning commented on #441
I could possibly take a stab at it; I'm just getting started with Aragon development trying to contribute to an existing project using Aragon. In setting up my development environment, I noticed there's several deprecated warnings in the aragon-cli setup that should probably be addressed, but thought this one was particularly suspicious, since it's a tool from the same toolchain/team.

[2019-04-23 11:14] sohkai commented on #441
@0x6431346e AFAIK aragonCLI uses almost zero rxjs directly (all of it just comes from subscribing to its observables in `aragonjs-wrapper.js`) so the upgrade should be fairly seamless and just involve updating the package versions.

The other API changes from `@aragon/wrapper@3` to `@aragon/wrapper@5` also shouldn't be a problem here, since the CLI doesn't run apps.

[2019-04-23 11:18] sohkai commented on #374
@MidnightLightning Perhaps this is a problem with the default nodejs docker container, where installing global packages requires higher privileges due to the path (vs. tools like `nvm` where you'd be installing global packages into your home directory instead)?

[2019-04-23 11:27] MidnightLightning commented on #374
Hmmm, not likely; when spinning up a Node container in Docker, the user that kicks off whatever command requested is root:

[code]

I'm thinking it more have something to do with the host OS running Docker, because the folder I am trying to install into (where it's creating the `node_modules` folder) is a shared mount between the Windows host OS and the Docker Node container. But for that part of

[2019-04-24 02:54] 0xGabi opened #443 "Update client version to Bella"
## 🚀 Feature

Update client version to bella on next release

[2019-04-24 09:09] 0x6431346e commented on #441
Oh ok, I thought we might use an operator here and there.

[2019-04-24 09:17] 0x6431346e commented on #443
Perhaps we can have a `.aragoncli.json` file in the project directories to allow people to easily customize some CLI parameters. :thinking:

[2019-04-24 15:56] 0x6431346e opened #445 "Split ipfs rpc options"
## 🚀 Feature

Split the `apm.ipfs.rpc` option into two:
- Allow specifying an ipfs gateway to read from
- Allow specifying an ipfs node to write to

## Motivation

Power users interacting with their DAO on rinkeby or mainnet have trouble finding the artifacts for these apps. That's because the CLI uses the `localhost` node by default, which does not bundle ALL the versions of the apps. See https:/

[2019-04-24 19:05] 0xGabi commented on #445
Definitly, we should include more configurations (e.g. gas-limit) for each environment on the `arrap.json`.

[2019-04-25 09:11] #443 closed

[2019-04-25 09:53] 0x6431346e opened #447 "Setup code coverage"
## 🚀 Feature

Coverage reports

## Motivation

In order to get a better idea of where we stand with testing, what are the least tested parts, as well as how each contribution impacts the coverage.

## Pitch

1. We can use [`nyc`](https://www.npmjs.com/package/nyc)
2. We can use [`coveralls`](https://coveralls.io/github/aragon/aragon-cli)
3. We can use use travis: https://github.com/aragon/aragon-c

[2019-04-26 02:31] #264 closed

[2019-04-26 07:25] 0x6431346e opened #448 "Bundle cli-commons into a package"
This issue was funded with **105 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
## 🚀 Feature

As part of moving the cli functionality to aragen (see https://github.com/aragon/aragon-cli/pull/394 and https://github.com/aragon/aragen/pull/24/) the `@aragon/cli` now depends on `aragen` for the `Conso

[2019-04-26 19:53] #98 closed

[2019-04-27 10:23] 0x6431346e commented on #98
Perhaps we could name this `aragon start-client` ?

[2019-04-30 17:49] sohkai opened #450 "On major deployments, add `methods` from old versions' artifact.jsons"
This is now an issue with our Finance app, where we used to have a method named `newPayment()` but has since been split out into two methods (`newScheduledPayment()` and `newImmediatePayment()`).

It would be nice if the CLI automatically consulted old versions' `artifact.jsons and included them as part of a versioned list of old methods, so radspec descriptions can still work on breaking upgrades

[2019-05-01 17:27] lkngtn opened #451 "Output proxy app address when installing app with dao install"
## 🚀 Feature

When deploying organizations with the cli, its common to have to install and app and then use the apps proxy address in subsequent commands. This would be much easier if the proxy address was included in the install output.

In order to get the proxy address you have to use `dao apps [dao] --all` and then look for the app under permissionless apps

## Motivation

reduce commands nece

[2019-05-03 13:34] 0x6431346e opened #452 "Allow declaring external contract dependencies"
From the chat:

mike.calvanese 7:59 PM

wondering if it's something similar to this issue in zos with library linking https://github.com/zeppelinos/zos/issues/751
the contract I'm trying to deploy is https://github.com/levelkdev/futarchy-app/blob/aragon-upgrades/contracts/Futarchy.sol

mike.calvanese 10:09 PM

sohkai Established Member 11:17 AM

[2019-05-08 15:47] 0x6431346e opened #457 "aragon run gets stuck at applying version bump"
## 🐛 Bug Report

Using the version `5.7.1` and doing `aragon run` throws:
[code]

[2019-05-08 15:48] #457 closed

[2019-05-08 15:51] 0x6431346e commented on #457
Why was it working when building locally?

Because `web3@1.0.0-beta.34` was pinned in `@aragon/cli` and `npm` deduped it in `@aragon/aragen`:

[code]

Project install:
[code]

Related to: #354

[2019-05-08 15:53] sohkai commented on #457
🤦‍♂web3

@0x6431346e @0xGabi Wondering if you two feel confident enough about the tests to see if we could migrate to a newer version of web3 for the CLI?

[2019-05-08 15:59] 0x6431346e commented on #457
Not really :sweat_smile:, I will focus this week on adding tests and coverage so we can finally update all deps and let greenkeeper do its thing.

We still need to pin `web3` to something lower than `1.0.0-beta.54` as it is broken.
Not sure about `ganache-core`, I think we might finally be able to unpin `2.2.1`.

[2019-05-08 16:14] sohkai commented on #457
Was it only broken because there were two conflicting versions?

[2019-05-08 16:31] 0x6431346e commented on #457
Oh, haven't thought about that, it might be a conflict solvable by upgrading `ganache-core`. We currently use `2.2.1` and that version pins `web3` to `beta.34`: https://github.com/trufflesuite/ganache-core/blob/v2.2.1/npm-shrinkwrap.json#L4818

I've reported it here: https://github.com/ethereum/web3.js/issues/2800

[2019-05-09 15:56] 0xGabi commented on #450
@sohkai I would like to confirm with you about the approach before going forward. We discuss it with @0x6431346e and we think this could be a new property in the `artifact.json`:
[code]
If we follow this path then `aragon.js` needs to change to look into this new property.

Can you pointing out to me where radspec make use of this, as an example. Thanks

[2019-05-09 16:06] sohkai commented on #450
@0xGabi Yep, you found the relevant bit :).

I think that makes sense; a few suggestions:

- Perhaps `oldFunctions` is better as the key, as everything else in the `artifact.json` file should be in camel case
- Perhaps it would make sense to only include functions that are not in the current list of functions (tested via their function signatures), to avoid duplicates

[2019-05-09 17:37] 0xGabi commented on #450
Perfect!

[2019-05-10 14:38] sohkai commented on #450
@0xGabi As it turns out... we actually need the abi for radspec evaluation to work as well. Maybe we can modify the `methods` declarations so it comes with an `abi` for the method too (some slight duplication, since we have the current version's abi, but this makes it consistent between the current `methods` and previous `methods`).

Currently:

[code]

What we could have:

[code]

[2019-05-10 15:32] 0xGabi commented on #450
Oh great, thanks for the heads up, also I decide rename `oldFunctions to `deprecated` or `deprecatedFunctions` otherwise.

[2019-05-14 14:03] 0x6431346e opened #461 "Support node v12"
This issue was funded with **60 DAI**, see more issues on our dao [projects app](https://rinkeby.aragon.org/#/meshteam.aragonid.eth/0x2b2290c2370cbc59e7c77bd36072f801d5e996c8).
---
See the travis builds:

https://travis-ci.org/aragon/aragon-cli/builds/532301139?utm_source=github_status&utm_medium=notification

Specifically this error:

[code]

We could try after updating `ganache-core`.
Related: h

[2019-05-15 13:39] luisivan opened #466 "Insufficient funds for gas * price + value"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

[code]

## Context

#### Mainnet or testnet?

Mainnet

#### Organization

holdings.aragonid.eth

#### Environment

- OS and OS version: Latest Manjaro Linux
- Browser and browser version: Brave 0.63.55
- Add any other context about the problem here: Using Frame

## To Reproduce

Execute this command: `dao install 0xd0e6765f2b08

[2019-05-15 22:27] john-light opened #467 "Proposal: change `dao` command to `org`"
## 💥 Proposal

Currently the CLI and accompanying documentation are DAO-centric. For example, the main command for interacting with an Aragon organization is `dao` e.g. `dao new`.

But not every Aragon organization is a DAO (Decentralized Autonomous Organization). Some are simple multisig wallets, others are traditional companies using Aragon to manage digital assets, etc. While we have aimed to b

[2019-05-16 08:06] dstreppa opened #468 "Aragon run command hanging on "generating transaction...""
## 🐛 Bug Report

Hi, I am pretty new with Aragon and I've started to play with it. I have a problem when I launch `aragon run`: the command hangs indefinitely on the `Generating transaction` phase.

Instead if I create simple dapps inside your https://github.com/aragon/aragon-react-boilerplate project I realize to correctly launch dapps and playing with them (command `npx aragon run --template Tem

[2019-05-16 11:17] sudhiryadav commented on #225
change this line require("./build/Release/scrypt") to require("scrypt") from '/node_modules/scrypt/index.js'

[2019-05-16 15:19] 0x6431346e commented on #468
Hey @dstreppa , we released a fix for this ~6hrs ago.

Could you try re-installing the project dependencies?

1. `rm -rf node_modules package-lock.json`
2. `npm install`

After this, you doing `npm ls @aragon/wrapper` should print the correct version `5.0.0-rc.7`.

[2019-05-17 07:19] dstreppa commented on #468
@0x6431346e thank you for the fix, I've done the updates but nothing has changed. I've also created a new project (see the output below), but with no results. There is always the hanging. I've also printed the npm and node version, maybe it can help.

<pre>
# npx create-aragon-app ds02 react
npx: installed 157 in 5.057s
 ✔ Preparing initialization
 ✔ Cloning app template
 ✔ Preparing template
 ✔ I

[2019-05-17 07:57] 0x6431346e commented on #468
It's because when you're doing `aragon run` without the `npx` prefix, it will run the CLI you have installed globally, and not the one installed in your project.

You can confirm by doing:
[code]

My suggestion is to reinstall the global package as well:
[code]

[2019-05-17 08:06] dstreppa commented on #468
Ok, now using `npx aragon run` it works.
@0x6431346e I prefer to have a specific installations for each projects, avoiding to use the global packages.

Thank you very much for the help.

[2019-05-17 11:59] chrishobcroft commented on #346
I just ran `dao new --environment aragon:rinkeby` and it worked without issue for me.

[code]

[2019-05-17 12:22] chrishobcroft opened #469 "`dao token new` does not allow token-name to have spaces in it"
## 🐛 Bug Report

I tried to run `dao token new` with a `token-name` _with spaces in it_, like so:

[code]

It seems to have taken
`"Livepeer` as the `<token-name>`
`DAO` as the `<symbol>`
`Token` as the `[decimal units]`

### Have you read the [Contributing Guidelines on issues](https://github.com/aragon/aragon-cli/blob/master/CONTRIBUTING.md#ways-to-contribute)?

Yes

## Context

I am trying to d

[2019-05-17 13:02] sohkai commented on #469
Haha yes... unfortunately this is a problem with parsing CLI arguments :(. Not sure if there's anything we can do for this, but related to https://github.com/aragon/aragon-cli/issues/369 cc @0x6431346e

[2019-05-18 09:04] 0x6431346e commented on #468
Awesome!

[2019-05-18 09:04] #468 closed

[2019-05-18 09:09] 0x6431346e commented on #469
Yeah that's the problem... if it's not too much trouble I'd recommend you to clone the aragonCLI and hardcode those params 😅

[2019-05-18 20:09] sohkai commented on #412
@0x6431346e I believe this has been completed as part of https://github.com/aragon/aragon-cli/pull/428?

I have yet to go through the Aragon org repos to align them all to have the appropriate code owners though... :(

[2019-05-18 20:23] sohkai commented on #387
@0xGabi I believe this should be fixed on newer versions of aragonCLI / aragen?

[2019-05-18 20:28] sohkai commented on #321
@0xGabi Wondering if we can close this now that I think we've bumped the version used by aragen? Or if we haven't, should we try to update its `ganache-core` now?

[2019-05-18 20:33] 0xGabi commented on #412
Close with #428

[2019-05-18 20:33] #412 closed

[2019-05-18 20:58] sohkai commented on #132
Blocked by https://github.com/aragon/aragon-cli/issues/419.

[2019-05-18 21:34] sohkai commented on #143
@0x6431346e @0xGabi Could you double check if this is still an issue?

[2019-05-18 21:39] sohkai commented on #282
@0x6431346e @0xGabi This seems like something that could be low hanging and high value. Could you double check the commands to see if their `--help` descriptions aren't correct?

[2019-05-18 21:40] sohkai commented on #225
@0x6431346e Wondering if we can close this, since we're pointing people to use `create-aragon-app` instead?

[2019-05-18 21:41] sohkai commented on #227
@0x6431346e Wondering if we can close this for #419?

[2019-05-18 21:42] sohkai commented on #202
@0x6431346e @0xGabi I think `aragon apm version` has changed significantly since this issue was created and should error on bad input. Could you double check?

[2019-05-18 23:34] 0xGabi commented on #387
Yess I just check and the problem was fixed 🎉🎉

[2019-05-18 23:34] #387 closed

[2019-05-18 23:58] 0xGabi commented on #321
@sohkai this is still an issue on `ganache-core@v2.5.5`.

[code]

Note: We bump the version with green-keeper but we will need to pin it back. The new aragonCLI release still on `ganache-corev2.2.1`

[2019-05-19 00:17] 0xGabi commented on #321
I check with `ganache-corev@v5.3.0` and seems to be working.

[2019-05-19 06:00] 0xGabi commented on #282
Agree 💯, last week I spent some time looking the problem on `dao` command, will try to generalize a solution for the rest of subcommands.

[2019-05-19 09:20] sohkai commented on #321
It might be worth creating an issue over at `ganache-core` with some of the debug trace on `v2.5.5` to help them.

[2019-05-21 05:53] 0xGabi opened #474 "Update transaction path descripition"
## 🐛 Bug Report

Update transaction path description to new format. Related to https://github.com/aragon/forum/issues/2
## Context

Several commands output `✖ Cannot read property 'description' of undefined` instead of transaction path description message.

## Expected behavior

Display the correct transaction path executed.

[2019-05-21 11:01] 0x6431346e commented on #321
I need to update dependencies in `aragen` as well.
(@sohkai would you mind enabling `greenkeeper` to that repo as well?)

After that we can test the new `ganache-core` and `web3` versions, because now they're being deduped:
[code]

[2019-05-21 13:43] sohkai commented on #321
@0x6431346e Greenkeeper is now enabled on `aragen` as well.

[2019-05-22 12:19] 0x6431346e opened #477 "Start using shrinkwrap"
## 💥 Proposal

I think we should consider using [npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap.html).

### Why

- We encountered quite a few issues with dependencies: bugs in new releases, semver issues (people love using 0.x for major updates :roll_eyes: ), etc.

- We spend a lot of time debugging: figuring out how is npm deduping packages, why does it work on one machine and not another,

[2019-05-22 12:23] sohkai commented on #477
From https://docs.npmjs.com/files/shrinkwrap.json:

Sounds like exactly what we need :smile:!

[2019-05-22 20:00] greenkeeper[bot] opened #479 "An in-range update of truffle is breaking the build 🚨"
## The dependency [truffle]() was updated from `5.0.18` to `5.0.19`.

🚨 [View failing branch](https://github.com/aragon/aragon-cli/compare/master...aragon:greenkeeper%2Fall%2Ftruffle-5.0.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

truffle is a direct dependency of this project, and **it is very likely causing it t

[2019-05-22 21:24] greenkeeper[bot] opened #480 "An in-range update of semver is breaking the build 🚨"
## The dependency [semver](https://github.com/npm/node-semver) was updated from `6.0.0` to `6.1.0`.

🚨 [View failing branch](https://github.com/aragon/aragon-cli/compare/master...aragon:greenkeeper%2Fall%2Fsemver-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semver is a direct dependency of this project, and **it

[2019-05-23 10:02] #225 closed

[2019-05-23 10:48] greenkeeper[bot] opened #482 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## The devDependency [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) was updated from `9.0.1` to `9.1.0`.

🚨 [View failing branch](https://github.com/aragon/aragon-cli/compare/master...aragon:greenkeeper%2Fall%2Feslint-plugin-node-9.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2019-05-23 15:32] 0x6431346e commented on #395
As per @sohkai 's suggestion we can explore using https://dependabot.com/ as an alternative to greenkeeper

[2019-05-25 20:33] 0xGabi commented on #202
`aragon app version` was deprecated and will always error:
1. Cause you have environment configure
2. If you don't have environment will give schemas error.

[2019-05-25 20:33] #202 closed

[2019-05-27 06:34] 0xGabi commented on #466
@luisivan the issue were cause by ganache (related to https://github.com/aragon/aragen/pull/45 and https://github.com/trufflesuite/ganache-core/issues/417).

I tested on devchain and rinkeby and it worked for me. I also checked the same command you shared and I got a transaction path error, most likely cause I don't have permissions. So, it should work now 👍

I suggest you to add the option `--apm

[2019-05-27 08:15] luisivan commented on #466
I'm still getting the exact same issue, even with version 5.9.3 :/

But it seems like I'm getting it also with other kind of transactions, so at this point unsure if this is a Frame issue.

BTW this is an unrelated issue, but the only way I can go around the IPFS problems is by running `aragon ipgs`. The `apm.ipfs.rpc` flag doesn't do the trick for me.

[2019-05-27 18:26] 0xGabi commented on #451
Reopen to close the issue on the dao

[2019-05-27 18:32] 0xGabi commented on #451
@fabriziovigevani  Thank you for you work. Can you provide me with a mainnet address?

[2019-05-27 18:33] #451 closed

[2019-05-28 01:31] fabriziovigevani commented on #451
my mainnet address is 0x902B5924759BdCCA3ff85099c2A11c4a79f4BEd0
Thank you!

[2019-05-28 18:13] 0xGabi commented on #477
Closed by #483

[2019-05-28 18:13] #477 closed

[2019-05-28 18:17] 0xGabi opened #487 "Use dependabot as an alternative to greenkeeper"
Using https://dependabot.com/ as an alternative to greenkeeper

[2019-05-29 15:45] cslarson commented on #452
I've [taken a stab](https://github.com/daonuts/aragon-cli/commit/a271826d20ba4a4c8bb6fb65f53917ce1e803cb3) at adding this feature to aragon-cli. I'd be happy to make further modifications, add test coverage, etc, if it would help/be considered for pulling into the main aragon-cli.

My approach is as follows:

1. add `links` array in arapp.json' environments. links have `name` and `address` attribu

[2019-05-29 21:09] 0xGabi commented on #452
@cslarson I took a look and seems like a good solution. Please submit a PR so we can further review it and add this functionality

[2019-05-29 21:25] 0xGabi commented on #466
@luisivan I was not able to reproduce the issue. I only got the same error message if I choose an account without funds on Frame.

To isolate the problem from Frame, can you test with a hot wallet and make a similar transaction? To configure a private key on the `aragonCLI` you can [follow this section of the documentation](https://hack.aragon.org/docs/guides-faq#set-a-private-key). Thanks

[2019-06-01 08:45] luisivan opened #494 "Fails to install on macOS Mojave"
## 🐛 Bug Report

Fails to install on macOS Mojave.

## To Reproduce

`npm i -g @aragon/cli`

## Expected behavior

Should install fine.

## Actual Behavior

Doesn't install. I think this is because of some native bindings failing to compile.
[code]

[2019-06-03 13:36] lkngtn commented on #407
I'm curious how this would look from a user perspective. Would the idea be that you would be able to pass the parameter array from the CLI when using the acl grant command?

In the UI for permissions, would this appear as a normal non-parameterized permission. (this is probably a question for Aragon One since its not CLI related but is important). cc @sohkai @izqui

[2019-06-04 09:24] izqui commented on #407
Yes, we are currently not checking whether a granted permission has parameters when inspecting the ACL.

[2019-06-04 13:34] 0x6431346e commented on #494
Duplicate of #461

It seems that there's already a commit in `ganache-core` that will fix it.

[2019-06-04 13:34] #494 closed

[2019-06-04 13:36] svetlanama opened #497 "dao acl create: Cannot read property 'description' of undefined"
## 🐛 Bug Report

Update transaction path description to new format. Related to https://github.com/aragon/forum/issues/2
## Context

Hi,

I'm following this [instruction](https://forum.aragon.org/t/guide-custom-aragon-organization-deployment-using-the-cli/507)
and noticed that commands related to assigning grants
like ```dao acl create ....```
give me an error ```Cannot read property 'description'

[2019-06-04 18:58] willjgriff opened #498 "Specify truffle config when executing CLI commands."
## 🚀 Feature

Ability to specify the truffle config used when executing CLI commands.

## Have you read the [Contributing Guidelines on issues](https://github.com/aragon/aragon-cli/blob/master/CONTRIBUTING.md#ways-to-contribute)?

Yes

## Motivation

We cannot currently run or deploy apps with a custom truffle configuration. A custom truffle configuration could specify Solidity compilation optimis

[2019-06-05 09:44] 0x6431346e commented on #498
Could you please post the truffle config you're using? (the one with the compilation optimisation)

[2019-06-05 10:35] 0x6431346e commented on #497
Hey @svetlanama , can you expand on this please? (it shouldn't make you start over again)

Which step is this?
Does this happen locally, rinkeby, or mainnet?

[2019-06-05 11:11] svetlanama commented on #497
Hi @0x6431346e
1. it shouldn't make you start over again:
after getting an error
[code]
I tried to repeat and it says me
[code]
so as I understand the step is broken and I need to start from the beginning. Please correct me if I'm wrong.

2. steps:
[code]
[code]
[code]
[code]
3. network: Rinkeby

4. additional
to start daemon I use:
```aragon ipfs```

Please let me know I you need more info...

[2019-06-05 14:59] chrishobcroft opened #499 "Allow manual configuration of gas price when using aragonCLI in Terminal"
## 🚀 Feature

When using aragonCLI within `Terminal`, I would like to be able to manually configure the gas price.

Currently, it appears that this is hard coded to a gas price of 10 gwei, which for example made the installation of an app to a DAO (0.00783171 Ether = $1.87 at time of writing) more expensive than installing many paid-for apps from Apple App Store onto an iPhone. Furthermore, using

[2019-06-06 08:47] #447 closed

[2019-06-06 21:38] 0xGabi commented on #321
This is fixed with https://github.com/aragon/aragen/pull/41

[2019-06-06 21:38] #321 closed

[2019-06-06 21:47] 0xGabi commented on #350
I test it with the last last version (`5.9.4`) and is working correctly. Will close the issue for now.

[2019-06-06 21:47] #350 closed

[2019-06-06 21:50] 0xGabi commented on #474
Closed for #497

[2019-06-06 21:50] #474 closed

[2019-06-07 09:10] svetlanama commented on #497
Hi @0xGabi

Does it mean that ```dao acl create``` commands work but the output is wrong only?

[2019-06-09 21:22] 0xGabi commented on #497
Hi @svetlanama for what I understand there are a couple of things going on here. Let me expand on each.

 First and most important for you to keep testing the example. To prevent:

[code]
You probably need to have at least a token of `token-manager` to be able to create new votes on the `voting` app. So you need to mint yourself a token to have the necessary permissions.

Then about the  message:

[2019-06-10 10:23] deamme opened #505 "Improve the reliability when downloading IPFS at installation"
`npm install -g @aragon/cli` doesn't work because it's stuck on downloading https://dist.ipfs.io/go-ipfs/v0.4.18/go-ipfs_v0.4.18_linux-amd64.tar.gz - which doesn't resolve

The following version does resolve: https://dist.ipfs.io/go-ipfs/v0.4.21/go-ipfs_v0.4.21_linux-amd64.tar.gz

[2019-06-10 18:22] 0xGabi opened #506 "Fix dao act documentation"
## 📚 Documentation

Currently `dao act` is not documented correctly. Further explain that the method parameter should be the exact Function Signature between quotation marks.

[2019-06-10 20:41] svetlanama commented on #497
@0xGabi  I see, thank you for explanations!

[code]
will keep testing this ....

[2019-06-11 14:09] deamme commented on #505
Seems like it's working now, although it can sometimes be unreliable since @osarrouy experienced this too before

[2019-06-11 17:22] 0xGabi commented on #395
I think we can close this issue now and create specific issues for particular updates or fixes needed

[2019-06-11 17:22] #395 closed

[2019-06-11 18:14] 0xGabi commented on #377
This one is cover by: https://github.com/aragon/aragon-cli/pull/481 and https://github.com/aragon/aragen/issues/34

[2019-06-11 18:14] #377 closed

[2019-06-11 18:19] 0xGabi commented on #374
@scottrepreneur the issue with the Unknown app was that the IPFS content on the aragen snapshot been broke. Fixed in: https://github.com/aragon/aragen/pull/47

[2019-06-11 18:19] #374 closed

[2019-06-11 18:43] 0xGabi commented on #505
@deamme is this still an issue for you? I checked both Mac and Linux and seems to be fixed

[2019-06-12 06:45] 0xGabi opened #509 "Detect IPFS or HTTP server wasn't running and warn before fetching artifacts"
## 🚀 Feature

Posted by sohkai:

[2019-06-12 07:54] 0xGabi commented on #497
Hey @svetlanama the error message: `Cannot read property 'description' of undefined` should be fixed in last release. Install it with: `npm i -g @aragon/cli`

[2019-06-12 08:10] 0xGabi opened #512 "Output publish information to decide before publishing"
## 🚀 Feature

Update the `aragon apm publish` command to output the information that is going to be published instead of fetching the repo after publish.

## Pitch

In this way is going to be possible to decide to publish or not.

[2019-06-12 12:14] svetlanama commented on #497
Hi @0xGabi for some reason I started to get this error 2 times in a row
step
```dao acl create [dao-address] [token-manager-address] MINT_ROLE [your-address-erc20] [your-address] --environment aragon:rinkeby```

[code]

[2019-06-12 13:28] 0x6431346e commented on #505
Last week I bumped into this as well, I don't think there's much we can do about it though...

[2019-06-13 10:33] willjgriff commented on #498
I use Truffle v5+ which requires the following:

[code]

For Truffle version prior to v5 (v4 etc) it needs to be:

[code]

[2019-06-13 16:49] bingen opened #514 "Not able to start IPFS daemon"
## 🐛 Bug Report

[code]

## Context

I'm using last `master` branch (version `5.9.6`)
Logging `apmOptions.ipfs.rpc` I see that it has:

[code]
which seems different from what `--help` says:
[code]

If I run this instead:
[code]
I get the same result, and `apmOptions.ipfs.rpc` is still the same as before.

#### Environment

- OS and OS version: PureOS 8

[2019-06-13 16:50] bingen commented on #514
May it be related to this? https://github.com/ipfs/js-ipfs-http-client/issues/779

[2019-06-13 17:09] bingen commented on #514
If I start manually IPFS daemon and then run `aragon ipfs start --apm.ipfs.rpc "http://localhost:5001"`, then it works.

[2019-06-13 17:18] 0xGabi commented on #514
I think this is the root cause: https://github.com/aragon/aragon-cli/commit/4bc4f36b083d87490a5bcf4a6931dbe5a8d54122

I didn't test `aragon apm publish` with a different network other than local 🤕

[2019-06-13 18:37] #401 closed

[2019-06-13 19:50] 0x6431346e commented on #505
Started happening again...
I've opened an issue here: https://github.com/ipfs/go-ipfs/issues/6451

[2019-06-14 03:34] 0xGabi commented on #505
I tried using `go-ipfs-dep` with `v0.4.21` and the issue still happening. Should we consider hosing the dependency ourselves?

[2019-06-15 15:30] 0x6431346e commented on #445
So apparently is not working because is using an old version, but rather it is possible to connect to gateways in a `read-only` kind of way: https://github.com/ipfs/js-ipfs-http-client/issues/787#issuecomment-398005605

Not very useful, but the good thing is that apm takes a `gateway` option and can download files using `http`: https://github.com/aragon/apm.js/blob/master/src/providers/ipfs.js#L24

[2019-06-15 15:30] #445 closed

[2019-06-16 03:15] #514 closed

[2019-06-16 05:53] 0xGabi opened #521 "Add Changelog file"
## 💥 Proposal

Include a Changelog to the CD process.

Use [chan](https://github.com/geut/chan) based on the [keepachangelog style.](https://keepachangelog.com/en/1.0.0/)

Example configuration from [lerna-travis demo](https://github.com/geut/lerna-travis-demo):
[code]